---
version: 2
interactions:
    - id: 0
      request:
        host: int25-4-1.kftestlab.com
        body: "null"
        headers:
            Content-Type:
                - application/json
            X-Keyfactor-Api-Version:
                - "1"
            X-Keyfactor-Requested-With:
                - APIClient
        url: https://int25-4-1.kftestlab.com/Keyfactor/API/Agents
        method: GET
      response:
        body: '[{"AgentId":"6e4ce5f5-8790-4e91-be2e-84325a282ed8","ClientMachine":"container_uo-25-2","Username":"alpha-rho-rho-alpha-82852","AgentPlatform":1,"Version":"25.4.1.0","Status":3,"LastSeen":"2026-02-23T16:41:04.603Z","Capabilities":["SSL","LOGS"],"Blueprint":null,"Thumbprint":"","LegacyThumbprint":"","AuthCertificateReenrollment":"None","LastThumbprintUsed":"","LastErrorCode":null,"LastErrorMessage":null,"JobTypes":[{"Name":"SSL Endpoint Discovery","CertStoreTypeShortName":"","CertStoreJobType":"","JobTypeId":"332abd4e-cf9a-4449-a550-3c984a2399f9"},{"Name":"Orchestrator Log Retrieval","CertStoreTypeShortName":"","CertStoreJobType":"","JobTypeId":"0d8cf0c8-56ca-4b8a-b16a-c062018e170d"},{"Name":"SSL Endpoint Monitoring","CertStoreTypeShortName":"","CertStoreJobType":"","JobTypeId":"ecd5758a-2f05-49b1-9373-d9bde7077f59"}]},{"AgentId":"275bcd31-9e7b-4c4a-bce9-1719e0c2168d","ClientMachine":"container_uo-25-4","Username":"alpha-rho-rho-alpha-82852","AgentPlatform":1,"Version":"25.4.1.0","Status":2,"LastSee[...]
[...]
