---
version: 2
interactions:
    - id: 0
      request:
        host: int25-4-1.kftestlab.com
        body: '{"Name":"tf-unit-app-ds-859038000","OverwriteSchedules":false,"Schedule":{"Interval":{"Minutes":60}}}'
        headers:
            Content-Type:
                - application/json
            X-Keyfactor-Api-Version:
                - "1"
            X-Keyfactor-Requested-With:
                - APIClient
        url: https://int25-4-1.kftestlab.com/Keyfactor/API/Applications
        method: POST
      response:
        body: '{"Id":23,"Name":"tf-unit-app-ds-859038000","Schedule":{"Interval":{"Minutes":60}},"CertStoreType":-1,"CertificateStores":[]}'
        headers:
            Api-Supported-Versions:
                - "1.0"
            Content-Type:
                - application/json; charset=utf-8
            X-Keyfactor-Correlation-Id:
                - 7fb79c53-eab1-4e2c-abd0-96dafe01c057
            X-Keyfactor-Product-Version:
                - 25.4.1+dc0db2c8af1baf68b4c0043ec0f0f41a77aee11e
        status: 200 OK
        code: 200
        duration: 1.18215311s
    - id: 1
      request:
        host: int25-4-1.kftestlab.com
        body: "null"
        headers:
            Content-Type:
                - application/json
            X-Keyfactor-Api-Version:
                - "1"
            X-Keyfactor-Requested-With:
                - APIClient
        url: https://int25-4-1.kftestlab.com/Keyfactor/API/Applications
        method: GET
      response:
        body: '[{"Id":9,"Name":"tf-int-app-test","OverwriteSchedules":false,"Schedule":"D_23:30","CertStoreType":-1,"StoreCount":0},{"Id":23,"Name":"tf-unit-app-ds-859038000","OverwriteSchedules":false,"Schedule":"I_60","CertStoreType":-1,"StoreCount":0}]'
        headers:
            Api-Supported-Versions:
                - "1.0"
            Content-Type:
                - application/json; charset=utf-8
            X-Keyfactor-Correlation-Id:
                - a646147b-be20-48d6-a23f-efb59366ecbb
            X-Keyfactor-Product-Version:
                - 25.4.1+dc0db2c8af1baf68b4c0043ec0f0f41a77aee11e
            X-Total-Count:
                - "2"
        status: 200 OK
        code: 200
        duration: 180.779313ms
    - id: 2
      request:
        host: int25-4-1.kftestlab.com
        body: "null"
        headers:
            Content-Type:
                - application/json
            X-Keyfactor-Api-Version:
                - "1"
            X-Keyfactor-Requested-With:
                - APIClient
        url: https://int25-4-1.kftestlab.com/Keyfactor/API/Applications/23
        method: GET
      response:
        body: '{"Id":23,"Name":"tf-unit-app-ds-859038000","Schedule":{"Interval":{"Minutes":60}},"CertStoreType":-1,"CertificateStores":[]}'
        headers:
            Api-Supported-Versions:
                - "1.0"
            Content-Type:
                - application/json; charset=utf-8
            X-Keyfactor-Correlation-Id:
                - da26bd65-3bec-4f80-aa18-7a009c5572d2
            X-Keyfactor-Product-Version:
                - 25.4.1+dc0db2c8af1baf68b4c0043ec0f0f41a77aee11e
        status: 200 OK
        code: 200
        duration: 156.460752ms
[...]
