---
version: 2
interactions:
    - id: 0
      request:
        host: int25-4-1.kftestlab.com
        body: '{"Name":"tf-unit-app-monthly-155330000","OverwriteSchedules":false,"Schedule":{"Monthly":{"Day":1,"Time":"2025-01-01T04:00:00Z"}}}'
        headers:
            Content-Type:
                - application/json
            X-Keyfactor-Api-Version:
                - "1"
            X-Keyfactor-Requested-With:
                - APIClient
        url: https://int25-4-1.kftestlab.com/Keyfactor/API/Applications
        method: POST
      response:
        body: '{"Id":1147,"Name":"tf-unit-app-monthly-155330000","Schedule":{"Monthly":{"Day":1,"Time":"2025-01-01T04:00:00Z"}},"CertStoreType":-1,"CertificateStores":[]}'
        headers:
            Api-Supported-Versions:
                - "1.0"
            Content-Type:
                - application/json; charset=utf-8
            X-Keyfactor-Correlation-Id:
                - 4cd3881f-cb9a-4926-9873-738a969d90bb
            X-Keyfactor-Product-Version:
                - 25.4.1+dc0db2c8af1baf68b4c0043ec0f0f41a77aee11e
        status: 200 OK
        code: 200
        duration: 1.207610016s
    - id: 1
      request:
        host: int25-4-1.kftestlab.com
        body: "null"
        headers:
            Content-Type:
                - application/json
            X-Keyfactor-Api-Version:
                - "1"
            X-Keyfactor-Requested-With:
                - APIClient
        url: https://int25-4-1.kftestlab.com/Keyfactor/API/Applications/1147
        method: GET
      response:
        body: '{"Id":1147,"Name":"tf-unit-app-monthly-155330000","Schedule":{"Monthly":{"Day":1,"Time":"2026-04-28T04:00:00Z"}},"CertStoreType":-1,"CertificateStores":[]}'
        headers:
            Api-Supported-Versions:
                - "1.0"
            Content-Type:
                - application/json; charset=utf-8
            X-Keyfactor-Correlation-Id:
                - fc8e5e87-7f89-4397-bc30-6df4b1a6da0a
            X-Keyfactor-Product-Version:
                - 25.4.1+dc0db2c8af1baf68b4c0043ec0f0f41a77aee11e
        status: 200 OK
        code: 200
        duration: 125.142189ms
[...]
