---
version: 2
interactions:
    - id: 0
      request:
        host: int25-4-1.kftestlab.com
        body: '{"Name":"tf-unit-app-474626000","OverwriteSchedules":false,"Schedule":{"Interval":{"Minutes":60}}}'
        headers:
            Content-Type:
                - application/json
            X-Keyfactor-Api-Version:
                - "1"
            X-Keyfactor-Requested-With:
                - APIClient
        url: https://int25-4-1.kftestlab.com/Keyfactor/API/Applications
        method: POST
      response:
        body: '{"Id":1149,"Name":"tf-unit-app-474626000","Schedule":{"Interval":{"Minutes":60}},"CertStoreType":-1,"CertificateStores":[]}'
        headers:
            Api-Supported-Versions:
                - "1.0"
            Content-Type:
                - application/json; charset=utf-8
            X-Keyfactor-Correlation-Id:
                - 7af07c1d-4769-4034-9217-8050cb447c3e
            X-Keyfactor-Product-Version:
                - 25.4.1+dc0db2c8af1baf68b4c0043ec0f0f41a77aee11e
        status: 200 OK
        code: 200
        duration: 1.308699958s
    - id: 1
      request:
        host: int25-4-1.kftestlab.com
        body: "null"
        headers:
            Content-Type:
                - application/json
            X-Keyfactor-Api-Version:
                - "1"
            X-Keyfactor-Requested-With:
                - APIClient
        url: https://int25-4-1.kftestlab.com/Keyfactor/API/Applications/1149
        method: GET
      response:
        body: '{"Id":1149,"Name":"tf-unit-app-474626000","Schedule":{"Interval":{"Minutes":60}},"CertStoreType":-1,"CertificateStores":[]}'
        headers:
            Api-Supported-Versions:
                - "1.0"
            Content-Type:
                - application/json; charset=utf-8
            X-Keyfactor-Correlation-Id:
                - b5e68d1c-0e18-4d8b-971f-f71578ac3e19
            X-Keyfactor-Product-Version:
                - 25.4.1+dc0db2c8af1baf68b4c0043ec0f0f41a77aee11e
        status: 200 OK
        code: 200
        duration: 143.695152ms
[...]
    - id: 6
      request:
        host: int25-4-1.kftestlab.com
        body: '{"Id":1149,"Name":"tf-unit-app-474626000","OverwriteSchedules":false,"Schedule":{"Daily":{"Time":"2023-11-25T23:30:00Z"}}}'
        headers:
            Content-Type:
                - application/json
            X-Keyfactor-Api-Version:
                - "1"
            X-Keyfactor-Requested-With:
                - APIClient
        url: https://int25-4-1.kftestlab.com/Keyfactor/API/Applications
        method: PUT
      response:
        body: '{"Id":1149,"Name":"tf-unit-app-474626000","Schedule":{"Daily":{"Time":"2023-11-25T23:30:00Z"}},"CertStoreType":-1,"CertificateStores":[]}'
        headers:
            Api-Supported-Versions:
                - "1.0"
            Content-Type:
                - application/json; charset=utf-8
            X-Keyfactor-Correlation-Id:
                - 3751eff2-22c6-40b6-8c37-d66f6a57b78b
            X-Keyfactor-Product-Version:
                - 25.4.1+dc0db2c8af1baf68b4c0043ec0f0f41a77aee11e
        status: 200 OK
        code: 200
        duration: 147.978913ms
[...]
