---
version: 2
interactions:
    - id: 0
      request:
        host: int25-4-1.kftestlab.com
        body: '{"Name":"tf-unit-app-sched-671528000-weekly","OverwriteSchedules":false,"Schedule":{"Weekly":{"Days":["Monday","Thursday"],"Time":"2025-01-01T02:00:00Z"}}}'
        headers:
            Content-Type:
                - application/json
            X-Keyfactor-Api-Version:
                - "1"
            X-Keyfactor-Requested-With:
                - APIClient
        url: https://int25-4-1.kftestlab.com/Keyfactor/API/Applications
        method: POST
      response:
        body: '{"Id":34,"Name":"tf-unit-app-sched-671528000-weekly","Schedule":{"Weekly":{"Days":["Monday","Thursday"],"Time":"2025-01-01T02:00:00Z"}},"CertStoreType":-1,"CertificateStores":[]}'
        headers:
            Api-Supported-Versions:
                - "1.0"
            Content-Type:
                - application/json; charset=utf-8
            X-Keyfactor-Correlation-Id:
                - 690ecdaa-5992-421e-a09b-c9b28ae56c58
            X-Keyfactor-Product-Version:
                - 25.4.1+dc0db2c8af1baf68b4c0043ec0f0f41a77aee11e
        status: 200 OK
        code: 200
        duration: 929.672792ms
    - id: 1
      request:
        host: int25-4-1.kftestlab.com
        body: "null"
        headers:
            Content-Type:
                - application/json
            X-Keyfactor-Api-Version:
                - "1"
            X-Keyfactor-Requested-With:
                - APIClient
        url: https://int25-4-1.kftestlab.com/Keyfactor/API/Applications/34
        method: GET
      response:
        body: '{"Id":34,"Name":"tf-unit-app-sched-671528000-weekly","Schedule":{"Weekly":{"Days":["Monday","Thursday"],"Time":"2026-03-20T02:00:00Z"}},"CertStoreType":-1,"CertificateStores":[]}'
        headers:
            Api-Supported-Versions:
                - "1.0"
            Content-Type:
                - application/json; charset=utf-8
            X-Keyfactor-Correlation-Id:
                - 3171134c-f76f-49cc-a9fb-90d584064316
            X-Keyfactor-Product-Version:
                - 25.4.1+dc0db2c8af1baf68b4c0043ec0f0f41a77aee11e
        status: 200 OK
        code: 200
        duration: 140.57926ms
[...]
