---
version: 2
interactions:
    - id: 0
      request:
        host: int25-4-1.kftestlab.com
        body: '{"Name":"tf-unit-app-sched-33052000-weekly","OverwriteSchedules":false,"Schedule":{"Weekly":{"Days":["Monday","Thursday"],"Time":"2025-01-01T02:00:00Z"}}}'
        headers:
            Content-Type:
                - application/json
            X-Keyfactor-Api-Version:
                - "1"
            X-Keyfactor-Requested-With:
                - APIClient
        url: https://int25-4-1.kftestlab.com/Keyfactor/API/Applications
        method: POST
      response:
        body: '{"Id":1146,"Name":"tf-unit-app-sched-33052000-weekly","Schedule":{"Weekly":{"Days":["Monday","Thursday"],"Time":"2025-01-01T02:00:00Z"}},"CertStoreType":-1,"CertificateStores":[]}'
        headers:
            Api-Supported-Versions:
                - "1.0"
            Content-Type:
                - application/json; charset=utf-8
            X-Keyfactor-Correlation-Id:
                - 72389411-6bcb-41cb-8d48-94402c36012d
            X-Keyfactor-Product-Version:
                - 25.4.1+dc0db2c8af1baf68b4c0043ec0f0f41a77aee11e
        status: 200 OK
        code: 200
        duration: 1.349747751s
    - id: 1
      request:
        host: int25-4-1.kftestlab.com
        body: "null"
        headers:
            Content-Type:
                - application/json
            X-Keyfactor-Api-Version:
                - "1"
            X-Keyfactor-Requested-With:
                - APIClient
        url: https://int25-4-1.kftestlab.com/Keyfactor/API/Applications/1146
        method: GET
      response:
        body: '{"Id":1146,"Name":"tf-unit-app-sched-33052000-weekly","Schedule":{"Weekly":{"Days":["Monday","Thursday"],"Time":"2026-04-28T02:00:00Z"}},"CertStoreType":-1,"CertificateStores":[]}'
        headers:
            Api-Supported-Versions:
                - "1.0"
            Content-Type:
                - application/json; charset=utf-8
            X-Keyfactor-Correlation-Id:
                - a6c8bc85-189e-477d-9520-9f31c2aa2c2e
            X-Keyfactor-Product-Version:
                - 25.4.1+dc0db2c8af1baf68b4c0043ec0f0f41a77aee11e
        status: 200 OK
        code: 200
        duration: 149.28901ms
[...]
