---
version: 2
interactions:
    - id: 0
      request:
        host: int25-4-1.kftestlab.com
        body: '{"Name":"tf-unit-app-ds-676720000","OverwriteSchedules":false,"Schedule":{"Interval":{"Minutes":60}}}'
        headers:
            Content-Type:
                - application/json
            X-Keyfactor-Api-Version:
                - "1"
            X-Keyfactor-Requested-With:
                - APIClient
        url: https://int25-4-1.kftestlab.com/Keyfactor/API/Applications
        method: POST
      response:
        body: '{"Id":1145,"Name":"tf-unit-app-ds-676720000","Schedule":{"Interval":{"Minutes":60}},"CertStoreType":-1,"CertificateStores":[]}'
        headers:
            Api-Supported-Versions:
                - "1.0"
            Content-Type:
                - application/json; charset=utf-8
            X-Keyfactor-Correlation-Id:
                - 4dadd111-8141-44a3-abdc-965b79881c99
            X-Keyfactor-Product-Version:
                - 25.4.1+dc0db2c8af1baf68b4c0043ec0f0f41a77aee11e
        status: 200 OK
        code: 200
        duration: 1.295191879s
    - id: 1
      request:
        host: int25-4-1.kftestlab.com
        body: "null"
        form:
            PageReturned:
                - "1"
            ReturnLimit:
                - "100"
        headers:
            Content-Type:
                - application/json
            X-Keyfactor-Api-Version:
                - "1"
            X-Keyfactor-Requested-With:
                - APIClient
        url: https://int25-4-1.kftestlab.com/Keyfactor/API/Applications?PageReturned=1&ReturnLimit=100
        method: GET
      response:
        body: '[{"Id":684,"Name":"tf-acc-app-ds-104878939","OverwriteSchedules":false,"Schedule":"I_60","CertStoreType":-1,"StoreCount":0},{"Id":677,"Name":"tf-acc-app-ds-217421371","OverwriteSchedules":false,"Schedule":"I_60","CertStoreType":-1,"StoreCount":0},{"Id":432,"Name":"tf-acc-app-ds-244706425","OverwriteSchedules":false,"Schedule":"I_60","CertStoreType":-1,"StoreCount":0},{"Id":661,"Name":"tf-acc-app-ds-274157686","OverwriteSchedules":false,"Schedule":"I_60","CertStoreType":-1,"StoreCount":0},{"Id":421,"Name":"tf-acc-app-ds-309936982","OverwriteSchedules":false,"Schedule":"I_60","CertStoreType":-1,"StoreCount":0},{"Id"[...]
[...]
    - id: 3
      request:
        host: int25-4-1.kftestlab.com
        body: "null"
        headers:
            Content-Type:
                - application/json
            X-Keyfactor-Api-Version:
                - "1"
            X-Keyfactor-Requested-With:
                - APIClient
        url: https://int25-4-1.kftestlab.com/Keyfactor/API/Applications/1145
        method: GET
      response:
        body: '{"Id":1145,"Name":"tf-unit-app-ds-676720000","Schedule":{"Interval":{"Minutes":60}},"CertStoreType":-1,"CertificateStores":[]}'
        headers:
            Api-Supported-Versions:
                - "1.0"
            Content-Type:
                - application/json; charset=utf-8
            X-Keyfactor-Correlation-Id:
                - 741a94ce-2105-452c-bd46-03230d36c58a
            X-Keyfactor-Product-Version:
                - 25.4.1+dc0db2c8af1baf68b4c0043ec0f0f41a77aee11e
        status: 200 OK
        code: 200
        duration: 125.045155ms
[...]
