---
version: 2
interactions:
    - id: 0
      request:
        host: int25-4-1.kftestlab.com
        body: "null"
        headers:
            Content-Type:
                - application/json
            X-Keyfactor-Api-Version:
                - "1"
            X-Keyfactor-Requested-With:
                - APIClient
        url: https://int25-4-1.kftestlab.com/Keyfactor/API/CertificateStoreTypes/Name/K8STLSSecr
        method: GET
      response:
        body: '[{"Name":"K8STLSSecr","ShortName":"K8STLSSecr","Capability":"K8STLSSecr","StoreType":154,"ImportType":0,"LocalStore":false,"SupportedOperations":{"Add":true,"Create":true,"Discovery":true,"Enrollment":false,"Remove":true},"Properties":[{"Id":278,"StoreTypeId":154,"Name":"KubeNamespace","DisplayName":"KubeNamespace","Type":"String","Required":false,"ValidationOptions":{"OnCreation":0}},{"Id":279,"StoreTypeId":154,"Name":"KubeSecretName","DisplayName":"KubeSecretName","Type":"String","Required":false,"ValidationOptions":{"OnCreation":0}},{"Id":280,"StoreTypeId":154,"Name":"KubeSecretType","DisplayName":"KubeSecretType","Type":"String","DefaultValue":"tls_secret","Required":true,"ValidationOptions":{"OnCreation":1}},{"Id":281,"StoreTypeId":154,"Name":"IncludeCertChain","DisplayName":"Include Certificate Chain","Type":"Bool","DefaultValue":"true","Required":false,"ValidationOptions":{"OnCreation":0}},{"Id":282,"StoreTypeId":154,"Name":"SeparateChain","DisplayName":"Separate Chain","Type":"Bool","DefaultValue":"false","Required":false,"ValidationOptions":{"OnCreation":0}},{"Id":283,"StoreTypeId":154,"Name":"ServerUsername","DisplayName":"Server Username","Type":"Secret","Required":false,"ValidationOptions":{"OnCreation":0}},{"Id":284,"StoreTypeId":154,"Name":"ServerPassword","DisplayName":"Server Password","Type":"Secret","Required":false,"ValidationOptions":{"OnCreation":0}},{"Id":285,"StoreTypeId":154,"Name":"ServerUseSsl","DisplayName":"Use SSL","Type":"Bool","DefaultValue":"true","Required":true,"ValidationOptions":{"OnCreation":1}}],"EntryParameters":[],"PasswordOptions":{"EntrySupported":false,"StoreRequired":false,"Style":"Default"},"PrivateKeyAllowed":"Optional","CertificateFormat":0,"JobProperties":[],"ServerRequired":true,"PowerShell":false,"BlueprintAllowed":false,"CustomAliasAllowed":"Forbidden","ServerRegistration":35,"InventoryEndpoint":"/AnyInventory/Update","InventoryJobType":"1826f5fd-68c5-45ec-856e-2c0209c2018d","ManagementJobType":"50431909-6488-4237-a9b0-1158429cf59c","DiscoveryJobType":"f40a4c55-085b-47a7-bd42-a4103f6c4bd0"}]'
        headers:
            Api-Supported-Versions:
                - "1.0"
            Content-Type:
                - application/json; charset=utf-8
            X-Keyfactor-Correlation-Id:
                - 2e3a1700-8122-4531-880d-a757127e3523
            X-Keyfactor-Product-Version:
                - 25.4.1+dc0db2c8af1baf68b4c0043ec0f0f41a77aee11e
        status: 200 OK
        code: 200
        duration: 959.003041ms
    - id: 1
      request:
        host: int25-4-1.kftestlab.com
        body: "null"
        headers:
            Content-Type:
                - application/json
            X-Keyfactor-Api-Version:
                - "1"
            X-Keyfactor-Requested-With:
                - APIClient
        url: https://int25-4-1.kftestlab.com/Keyfactor/API/EnrollmentPatterns
        method: GET
      response:
        body: '[{"Id":1,"Name":"Default Pattern","Description":"A default enrollment pattern","Template":{"Id":4,"TemplateName":"Server (tlsServerAuth-1y)","CommonName":"Server_tlsServerAuth-1y","ConfigurationTenant":"ejbca","RequiresApproval":false,"FriendlyName":null},"TemplateDefault":true,"UseADPermissions":false,"AssociatedRoles":[{"Id":2,"Name":"InstanceOwner"}],"CertificateAuthorities":[],"AllowedEnrollmentTypes":7,"Regexes":[],"MetadataFields":[],"RestrictCAs":false,"Policies":{"AllowKeyReuse":null,"AllowWildcards":null,"RFCEnforcement":null,"CertificateOwnerRole":null,"DefaultCertificateOwnerRoleId":null,"DefaultCertificateOwnerRoleName":null,"DefaultCertificateOwnerOverride":false,"KeyInfo":{"ECDSA":null,"RSA":null,"Ed448":null,"Ed25519":null,"MLDSA44":null,"MLDSA65":null,"MLDSA87":null},"PrimaryKeyAlgorithms":[],"AlternativeKeyAlgorithms":[]},"Defaults":[],"EnrollmentFields":[]}]'
        headers:
            Api-Supported-Versions:
                - "1.0"
            Content-Type:
                - application/json; charset=utf-8
            X-Keyfactor-Correlation-Id:
                - 1cec3bb0-16f1-44ce-b1d6-e2737f714e2b
            X-Keyfactor-Product-Version:
                - 25.4.1+dc0db2c8af1baf68b4c0043ec0f0f41a77aee11e
            X-Total-Count:
                - "1"
        status: 200 OK
        code: 200
        duration: 971.950597ms
    - id: 2
      request:
        host: int25-4-1.kftestlab.com
        body: "null"
        form:
            pq.queryString:
                - AgentId -eq "275bcd31-9e7b-4c4a-bce9-1719e0c2168d"
        headers:
            Content-Type:
                - application/json
            X-Keyfactor-Api-Version:
                - "1"
            X-Keyfactor-Requested-With:
                - APIClient
        url: https://int25-4-1.kftestlab.com/Keyfactor/API/Agents?pq.queryString=AgentId%20-eq%20%22275bcd31-9e7b-4c4a-bce9-1719e0c2168d%22
        method: GET
      response:
        body: '[{"AgentId":"275bcd31-9e7b-4c4a-bce9-1719e0c2168d","ClientMachine":"container_uo-25-4","Username":"alpha-rho-rho-alpha-82852","AgentPlatform":1,"Version":"25.4.1.0","Status":2,"LastSeen":"2026-03-19T21:26:07.96Z","Capabilities":["K8STLSSecr","K8SSecret","K8SCert","K8SNS","SSL","K8SJKS","K8SPKCS12","K8SCluster","LOGS"],"Blueprint":null,"Thumbprint":"","LegacyThumbprint":"","AuthCertificateReenrollment":"None","LastThumbprintUsed":"","LastErrorCode":null,"LastErrorMessage":null,"JobTypes":[{"Name":"K8STLSSecr Management","CertStoreTypeShortName":"","CertStoreJobType":"Management","JobTypeId":"50431909-6488-4237-a9b0-1158429cf59c"},{"Name":"K8SSecret Inventory","CertStoreTypeShortName":"","CertStoreJobType":"Inventory","JobTypeId":"7726a60a-2914-4577-a8c2-139afb7e5872"},{"Name":"K8SCert Discovery","CertStoreTypeShortName":"","CertStoreJobType":"Discovery","JobTypeId":"6e5bd399-f98c-42f4-8f65-16810b51bac3"},{"Name":"K8SNS Inventory","CertStoreTypeShortName":"","CertStoreJobType":"Inventory","JobTypeId":"2fac1326-32b5-49b5-a844-193775c3079e"},{"Name":"K8STLSSecr Inventory","CertStoreTy[...]
    - id: 3
      request:
        host: int25-4-1.kftestlab.com
        body: '{"ClientMachine":"container_uo-25-4","StorePath":"default/tf-unit-deploy-1773955588664811000","CertStoreType":154,"Approved":false,"CreateIfMissing":false,"Properties":"{\"KubeSecretType\":\"tls\",\"ServerPassword\":\"{\\n  \\\"kind\\\": \\\"Config\\\",\\n  \\\"apiVersion\\\": \\\"v1\\\",\\n  \\\"preferences\\\": {},\\n  \\\"clusters\\\": [\\n    {\\n      \\\"name\\\": \\\"kubernetes\\\",\\n      \\\"cluster\\\": {\\n        \\\"server\\\": \\\"https://kf-integrations-dns-3db1dcf8.hcp.eastus.azmk8s.io:443\\\",\\n        \\\"certificate-authority-data\\\": \\\"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUU2RENDQXRDZ0F3SUJBZ0lRQjdhamVhWHlCZFVLQnNTVExxUDhOekFOQmdrcWhraUc5dzBCQVFzRkFEQU4KTVFzd0NRWURWUVFERXdKallUQWdGdzB5TWpFeE1EZ3lNVE01TVRCYUdBOHlNRFV5TVRFd09ESXhORGt4TUZvdwpEVEVMTUFrR0ExVUVBeE1DWTJFd2dnSWlNQTBHQ1NxR1NJYjNEUUVCQVFVQUE0SUNEd0F3Z2dJS0FvSUNBUUNvCk95b2VlK0l5MStKZ3JleDFWakxWSTFUejdVb2pqNStBdjJsd1ROQ3pVbjh2ZjdpK00zdjZEclcyTXdkb3o5VjUKVFZrZmhTK1pNV1JrV0xhczM1dUtjRkY4blM0ckxyY2JqL2gzdElOL2JST1J5QVFmTlNOVXpkdTJHbHN5cDlrcQpLeC9zYTRNQVRSRElpTlJOaWN[...]
    - id: 4
      request:
        host: int25-4-1.kftestlab.com
        body: '{"CertificateAuthority":"Sub-CA","CustomFriendlyName":"tf-unit-deploy-592484000.example.com","EnrollmentPatternId":1,"IncludeChain":true,"Password":"[REDACTED]","PopulateMissingValuesFromAD":false,"SANs":{},"Subject":"CN=tf-unit-deploy-592484000.example.com","Template":"","Timestamp":"2026-03-19T21:26:34Z"}'
        headers:
            Content-Type:
                - application/json
            X-Certificateformat:
                - STORE
            X-Keyfactor-Api-Version:
                - "2"
            X-Keyfactor-Requested-With:
                - APIClient
        url: https://int25-4-1.kftestlab.com/Keyfactor/API/Enrollment/PFX
        method: POST
      response:
        body: '{"SuccessfulStores":null,"CertificateInformation":{"SerialNumber":"4977054F864091E09962C3D248E1907A6EC8E065","IssuerDN":"CN=Sub-CA","Thumbprint":"D25F423760A047052E0B064B4B756E00B800C476","KeyfactorId":2429,"Pkcs12Blob":"MIIRIQIBAzCCENsGCSqGSIb3DQEHAaCCEMwEghDIMIIQxDCCBekGCSqGSIb3DQEHAaCCBdoEggXWMIIF0jCCBc4GCyqGSIb3DQEMCgECoIIFPTCCBTkwYwYJKoZIhvcNAQUNMFYwNQYJKoZIhvcNAQUMMCgEFAMv5nHnqJ0Av/yO0mZ+ynDKZEivAgIEADAMBggqhkiG9w0CCQUAMB0GCWCGSAFlAwQBKgQQeA+rVYvWBPVlSCnhHPvnFASCBNAZwaoyZNCJM5SQKjHBW1xENeZs2TO7bXM1MZbVHSLz2QW/ZzuRssMJPBCiqloaHCbTbgTjPMy2svUfjKUsgHtjmczUdh9ZsSty6D7srOm0fO3UgEOOUt5efzHiOzaSWnmnwTo16+y/k4iUdU5321HL5H0Gf3JAUZJ7LJZeA/EqJZ9W5+QZ36OTZwlmrFdkXEsC1MC8ei2eL3TrWifD/poghakFyTw3aBLfPywVM6Xhqt/RFs92LUN[...]
    - id: 5
      request:
        host: int25-4-1.kftestlab.com
        body: "null"
        form:
            includeLocations:
                - "true"
        headers:
            Content-Type:
                - application/json
            X-Keyfactor-Api-Version:
                - "1"
            X-Keyfactor-Requested-With:
                - APIClient
        url: https://int25-4-1.kftestlab.com/Keyfactor/API/Certificates/2429?includeLocations=true
        method: GET
      response:
        body: '{"IsCACertificate":false,"PathLengthConstraint":null,"Id":2429,"Thumbprint":"D25F423760A047052E0B064B4B756E00B800C476","SerialNumber":"4977054F864091E09962C3D248E1907A6EC8E065","IssuedDN":"CN=tf-unit-deploy-592484000.example.com","IssuedCN":"tf-unit-deploy-592484000.example.com","ImportDate":"2026-03-19T21:26:35.967Z","NotBefore":"2026-03-19T21:16:35Z","NotAfter":"2027-03-19T21:16:34Z","IssuerDN":"CN=Sub-CA","PrincipalId":null,"OwnerRoleId":null,"OwnerRoleName":null,"TemplateId":4,"CertState":1,"KeySizeInBits":2048,"KeyType":1,"KeyAlgorithm":"1.2.840.113549.1.1.1","AltKeyAlgorithm":null,"AltKeySizeInBits":0,"AltKeyType":null,"RequesterId":5,"IssuedOU":null,"IssuedEmail":null,"KeyUsage":160,"SigningAlgorithm":"SHA-256withRSA","AltSigningAlgorithm":null,"CertStateString":"Active (1)","KeyTypeString":"RSA","AltKeyTypeString":null,"RevocationEffDate":null,"RevocationReason":null,"RevocationComment":null,"CertificateAuthorityId":1,"CertificateAuthorityName":"http://ejbca-ca.int25-4-1.svc.cluster.local:8082/ejbca\\Sub-CA","TemplateName":"Server (tlsServerAuth-1y)","ArchivedKey":false,"HasPrivateKey":true,"HasAltPrivateKey":false,"PrincipalName":null,"CertRequestId":null,"RequesterName":"alpha-rho-rho-alpha-82852","ContentBytes":"MIIDNTCCAh2gAwIBAgIUSXcFT4ZAkeCZYsPSSOGQem7I4GUwDQYJKoZIhvcNAQELBQAwETEPMA0GA1UEAwwGU3ViLUNBMB4XDTI2MDMxOTIxMTYzNVoXDTI3MDMxOTIxMTYzNFowLzEtMCsGA1UEAwwkdGYtdW5pdC1kZXBsb3ktNTkyNDg0MDAwLmV4YW1wbGUuY29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAiONett93s8J1DX4rx5IgOtj+CE9HHxONKFq1xBLa+7CD6mkBF/o3R9QNJf/V8FNT6hrD8Q7y5dj6aPDlCaiRhnRSe316b6xpzar3Q/ekgBf2zMk3OURBzTu3lFwHHCSQ2YkayRqJrD/9/zIImiBEgBwtLjda+TXkZd2ca+71h9m2g9IhXVKw8zFWvik5vRaSBYEMI07bsSkNnbcfZbfzpcvI6pAfxhUDMo3xMkiurbbL5EfI81D6p1eCV2cVVp4tSdNd9Mj3NtFHnUDrqfubXxqlY8QciiyG/psn+BTeNhRjy9VqtpVGHsu3XO5Q3BnE0Gqdjcoh3p8vECtrGbO0UQIDAQABo2cwZTAfBgNVHSMEGDAWgBSjGZv+bJyWMeJS8cfdAmT8BHjUmTATBgNVHSUEDDAKBggrBgEFBQcDATAdBgNVHQ4EFgQUxGgJJHnxk4Vntj5RJ+aWsStToF4wDgYDVR0PAQH/BAQDAgWgMA0GCSqGSIb3DQEBCwUAA4IBAQAwRFmow0RgxOaiEkpfZnjIZ5n4gRdId6zwflvrnFZgc01EW/m1vHn5OV2HZ4gog+bfcpv0ITfYcoQel9c131XsIaiYtU5uERiXGPdXScvnZsDqWKO3GpfYOnqwXpzOePksmATYMpToqGMort83XIe06aJ0ZUN3NE74Ebon/ydagJ2mEgSE9VXWrg0qkI2vi9AcyupRGUtL7lIwxQ+vrOh++YK8MDY1+CPhKdVA65f7OGG5oX+c71Ke2a1LvYkr6ThrWaJaYTPC9pxUpAC0S9l/idG4TWbdJ/XogZfkNmj00tCnOS3hwQWJgiFfXVKQZzLiRvy8z16zaWw9DqixyuLr","ExtendedKeyUsages":[{"Id":1,"Oid":"1.3.6.1.5.5.7.3.1","DisplayName":"Server Authentication"}],"SubjectAltNameElements":[],"CRLDistributionPoints":[],"LocationsCount":[],"SSLLocations":[],"Locations":[],"Metadata":{},"CARowIndex":null,"CARecordId":"4977054F864091E09962C3D248E1907A6EC8E065","DetailedKeyUsage":{"CrlSign":false,"DataEncipherment":false,"DecipherOnly":false,"DigitalSignature":true,"EncipherOnly":false,"KeyAgreement":false,"KeyCertSign":false,"KeyEncipherment":true,"NonRepudiation":false,"HexCode":"a0"},"KeyRecoverable":false,"Curve":null,"EnrollmentPatternId":1,"Lifespan":365}'
        headers:
            Api-Supported-Versions:
                - 1.0, 2
            Content-Type:
                - application/json; charset=utf-8
            X-Keyfactor-Correlation-Id:
                - ac440189-985c-4abc-b661-abec88dd855c
            X-Keyfactor-Product-Version:
                - 25.4.1+dc0db2c8af1baf68b4c0043ec0f0f41a77aee11e
        status: 200 OK
        code: 200
        duration: 195.575827ms
    - id: 6
      request:
        host: int25-4-1.kftestlab.com
        body: "null"
        form:
            query.pageReturned:
                - "1"
        headers:
            Content-Type:
                - application/json
            X-Keyfactor-Api-Version:
                - "1"
            X-Keyfactor-Requested-With:
                - APIClient
        url: https://int25-4-1.kftestlab.com/Keyfactor/API/CertificateStores/f0cc1ede-3173-44b3-8368-ba1251ddb32e/Inventory?query.pageReturned=1
        method: GET
      response:
        body: '[]'
        headers:
            Api-Supported-Versions:
                - "1.0"
            Content-Type:
                - application/json; charset=utf-8
            X-Keyfactor-Correlation-Id:
                - 8e655bbc-f35d-43f0-93bf-3bf57e43d59d
            X-Keyfactor-Product-Version:
                - 25.4.1+dc0db2c8af1baf68b4c0043ec0f0f41a77aee11e
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 203.083808ms
    - id: 7
      request:
        host: int25-4-1.kftestlab.com
        body: '{"CertificateId":2429,"CertificateStores":[{"CertificateStoreId":"f0cc1ede-3173-44b3-8368-ba1251ddb32e","EntryPassword":null,"IncludePrivateKey":true}],"Schedule":{"Immediate":true}}'
        headers:
            Content-Type:
                - application/json
            X-Keyfactor-Api-Version:
                - "1"
            X-Keyfactor-Requested-With:
                - APIClient
        url: https://int25-4-1.kftestlab.com/Keyfactor/API/CertificateStores/Certificates/Add
        method: POST
      response:
        body: '["aac43f8f-93e0-41c1-b05f-6b8301ca72af"]'
        headers:
            Api-Supported-Versions:
                - "1.0"
            Content-Type:
                - application/json; charset=utf-8
            X-Keyfactor-Correlation-Id:
                - af629d5c-0dba-4a42-a7b4-40f06f016bc9
            X-Keyfactor-Product-Version:
                - 25.4.1+dc0db2c8af1baf68b4c0043ec0f0f41a77aee11e
        status: 200 OK
        code: 200
        duration: 336.075726ms
[...]
    - id: 12
      request:
        host: int25-4-1.kftestlab.com
        body: "null"
        form:
            query.pageReturned:
                - "1"
        headers:
            Content-Type:
                - application/json
            X-Keyfactor-Api-Version:
                - "1"
            X-Keyfactor-Requested-With:
                - APIClient
        url: https://int25-4-1.kftestlab.com/Keyfactor/API/CertificateStores/f0cc1ede-3173-44b3-8368-ba1251ddb32e/Inventory?query.pageReturned=1
        method: GET
      response:
        body: '[{"Name":"D25F423760A047052E0B064B4B756E00B800C476","Certificates":[{"Id":2429,"IssuedDN":"CN=tf-unit-deploy-592484000.example.com","SerialNumber":"4977054F864091E09962C3D248E1907A6EC8E065","NotBefore":"2026-03-19T21:16:35Z","NotAfter":"2027-03-19T21:16:34Z","SigningAlgorithm":"SHA-256withRSA","IssuerDN":"CN=Sub-CA","Thumbprint":"D25F423760A047052E0B064B4B756E00B800C476","CertStoreInventoryItemId":3892,"CertState":1,"Metadata":{}},{"Id":1,"IssuedDN":"CN=Sub-CA","SerialNumber":"141719455B03459B2F7CE2F3F44DAF7F239EE0E2","NotBefore":"2026-02-02T22:00:17Z","NotAfter":"2031-02-01T22:00:15Z","SigningAlgorithm":"SHA-256withRSA","IssuerDN":"CN=Root-CA","Thumbprint":"448F6A0B4F6D8B9915191CA35ACCD80319FD5A8D","CertStoreInventoryItemId":3892,"CertState":0,"Metadata":{}},{"Id":2,"IssuedDN":"CN=Root-CA","SerialNumber":"0797964DB9EA51E266F98BE61390D2B630E4AE0C","NotBefore":"2026-02-02T22:00:16Z","NotAfter":"2031-02-01T22:00:15Z","SigningAlgorithm":"SHA-256withRSA","IssuerDN":"CN=Root-CA","Thumbprint":"9B61CFDFC2E0B3CD38B2C7FBAE553C8515BD5C65","CertStoreInventoryItemId":3892,"CertState":0,"Metadata":{}}],"Parameters":{"PrivateKeyEntry":"Yes"},"CertStoreId":"f0cc1ede-3173-44b3-8368-ba1251ddb32e"}]'
        headers:
            Api-Supported-Versions:
                - "1.0"
            Content-Type:
                - application/json; charset=utf-8
            X-Keyfactor-Correlation-Id:
                - 677b0ae9-0afb-4a4a-9c66-51d449eb7613
            X-Keyfactor-Product-Version:
                - 25.4.1+dc0db2c8af1baf68b4c0043ec0f0f41a77aee11e
            X-Total-Count:
                - "1"
        status: 200 OK
        code: 200
        duration: 187.598067ms
[...]
    - id: 14
      request:
        host: int25-4-1.kftestlab.com
        body: "null"
        headers:
            Content-Type:
                - application/json
            X-Keyfactor-Api-Version:
                - "1"
            X-Keyfactor-Requested-With:
                - APIClient
        url: https://int25-4-1.kftestlab.com/Keyfactor/API/CertificateStores/f0cc1ede-3173-44b3-8368-ba1251ddb32e
        method: GET
      response:
        body: '{"Id":"f0cc1ede-3173-44b3-8368-ba1251ddb32e","ContainerId":null,"DisplayName":"container_uo-25-4 - default/tf-unit-deploy-1773955588664811000","ClientMachine":"container_uo-25-4","Storepath":"default/tf-unit-deploy-1773955588664811000","CertStoreInventoryJobId":"1d4e811b-1b5d-41c2-9769-90ef38d8a794","CertStoreType":154,"Approved":true,"CreateIfMissing":false,"Properties":"{\"KubeSecretType\":\"tls\",\"ServerPassword\":{\"Value\":\"********************\",\"SecretTypeGuid\":\"00000000-0000-0000-0000-000000000000\",\"InstanceId\":null,\"InstanceGuid\":null,\"ProviderTypeParameterValues\":[],\"ProviderId\":null,\"IsManaged\":false,\"SecretType\":0,\"RemoteProviderName\":null,\"HasValue\":true},\"ServerUseSsl\":\"true\",\"ServerUsername\":{\"Value\":\"********************\",\"SecretTypeGuid\":\"00000000-0000-0000-0000-000000000000\",\"InstanceId\":null,\"InstanceGuid\":null,\"ProviderTypeParameterValues\":[],\"ProviderId\":null,\"IsManaged\":false,\"SecretType\":0,\"RemoteProviderName\":null,\"HasValue\":true}}","AgentId":"275bcd31-9e7b-4c4a-bce9-1719e0c2168d","AgentAssigned":true,"ContainerName":null,"InventorySchedule":{"Daily":{"Time":"2026-03-19T22:26:00Z"}},"ReenrollmentStatus":{"Data":false,"AgentId":null,"Message":"Key generation is not supported by the agent for this store.","JobProperties":null,"CustomAliasAllowed":0,"EntryParameters":[]},"SetNewPasswordAllowed":false,"Password":{"Value":"********************","SecretTypeGuid":"00000000-0000-0000-0000-000000000000","InstanceId":null,"InstanceGuid":null,"ProviderTypeParameterValues":[],"ProviderId":null,"IsManaged":false,"SecretType":0,"RemoteProviderName":null,"HasValue":true}}'
        headers:
            Api-Supported-Versions:
                - "1.0"
            Content-Type:
                - application/json; charset=utf-8
            X-Keyfactor-Correlation-Id:
                - a23610c5-4286-4f8f-b4e1-6dcf35856f76
            X-Keyfactor-Product-Version:
                - 25.4.1+dc0db2c8af1baf68b4c0043ec0f0f41a77aee11e
        status: 200 OK
        code: 200
        duration: 173.062255ms
    - id: 15
      request:
        host: int25-4-1.kftestlab.com
        body: "null"
        form:
            includeHasPrivateKey:
                - "true"
            includeLocations:
                - "true"
            includeMetadata:
                - "true"
        headers:
            Content-Type:
                - application/json
            X-Keyfactor-Api-Version:
                - "1"
            X-Keyfactor-Requested-With:
                - APIClient
        url: https://int25-4-1.kftestlab.com/Keyfactor/API/Certificates/2429?includeHasPrivateKey=true&includeLocations=true&includeMetadata=true
        method: GET
      response:
        body: '{"IsCACertificate":false,"PathLengthConstraint":null,"Id":2429,"Thumbpri[...]
    - id: 16
      request:
        host: int25-4-1.kftestlab.com
        body: '{"CertId":2429,"IncludeChain":true,"Password":"[REDACTED]"}'
        headers:
            Content-Type:
                - application/json
            X-Certificateformat:
                - STORE
            X-Keyfactor-Api-Version:
                - "1"
            X-Keyfactor-Requested-With:
                - APIClient
        url: https://int25-4-1.kftestlab.com/Keyfactor/API/Certificates/Recover
        method: POST
      response:
            - chunked
        body: '{"ErrorCode":"0xA0110008","Message":"The format \u0027STORE\u0027 is invalid."}'
        headers:
            Api-Supported-Versions:
                - 1.0, 2
            Content-Type:
                - application/json; charset=utf-8
            X-Keyfactor-Correlation-Id:
                - 86ea5ba5-62ae-4ef2-b57a-0f38bafb8e2a
            X-Keyfactor-Product-Version:
                - 25.4.1+dc0db2c8af1baf68b4c0043ec0f0f41a77aee11e
        status: 400 Bad Request
        code: 400
        duration: 204.134298ms
    - id: 17
      request:
        host: int25-4-1.kftestlab.com
        body: '{"CertID":2429,"IncludeChain":true,"ChainOrder":"EndEntityFirst"}'
        headers:
            Content-Type:
                - application/json
            X-Certificateformat:
                - P7B
            X-Keyfactor-Api-Version:
                - "1"
            X-Keyfactor-Requested-With:
                - APIClient
        url: https://int25-4-1.kftestlab.com/Keyfactor/API/Certificates/Download
        method: POST
      response:
        body: '{"Content":"MIAGCSqGSIb3DQEHAqCAMIACAQExgAAAMAsGCSqGSIb3DQEHAaCAMIIDNTCCAh2gAwIBAgIUSXcFT4ZAkeCZYsPSSOGQem7I4GUwDQYJKoZIhvcNAQELBQAwETEPMA0GA1UEAwwGU3ViLUNBMB4XDTI2MDMxOTIxMTYzNVoXDTI3MDMxOTIxMTYzNFowLzEtMCsGA1UEAwwkdGYtdW5pdC1kZXBsb3ktNTkyNDg0MDAwLmV4YW1wbGUuY29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAiONett93s8J1DX4rx5IgOtj+CE9HHxONKFq1xBLa+7CD6mkBF/o3R9QNJf/V8FNT6hrD8Q7y5dj6aPDlCaiRhnRSe316b6xpzar3Q/ekgBf2zMk3OURBzTu3lFwHHCSQ2YkayRqJrD/9/zIImiBEgBwtLjda+TXkZd2ca+71h9m2g9IhXVKw8zFWvik5vRaSBYEMI07bsSk[...]
    - id: 18
      request:
        host: int25-4-1.kftestlab.com
        body: "null"
        headers:
            Content-Type:
                - application/json
            X-Keyfactor-Api-Version:
                - "1"
            X-Keyfactor-Requested-With:
                - APIClient
        url: https://int25-4-1.kftestlab.com/Keyfactor/API/EnrollmentPatterns/1
        method: GET
      response:
        body: '{"Id":1,"Name":"Default Pattern","Description":"A default enrollment pattern"[...]
[...]
    - id: 23
      request:
        host: int25-4-1.kftestlab.com
        body: '{"CertificateId":0,"Alias":"","CertificateStores":[{"CertificateStoreId":"f0cc1ede-3173-44b3-8368-ba1251ddb32e","Alias":"D25F423760A047052E0B064B4B756E00B800C476","EntryPassword":null}],"Schedule":{"Immediate":true}}'
        headers:
            Content-Type:
                - application/json
            X-Keyfactor-Api-Version:
                - "1"
            X-Keyfactor-Requested-With:
                - APIClient
        url: https://int25-4-1.kftestlab.com/Keyfactor/API/CertificateStores/Certificates/Remove
        method: POST
      response:
        body: '["d985c4a4-efc5-4a18-8019-ed2dc1484802"]'
        headers:
            Api-Supported-Versions:
                - "1.0"
            Content-Type:
                - application/json; charset=utf-8
            X-Keyfactor-Correlation-Id:
                - f91745b9-c00f-4dc8-a136-49f63a14e74a
            X-Keyfactor-Product-Version:
                - 25.4.1+dc0db2c8af1baf68b4c0043ec0f0f41a77aee11e
        status: 200 OK
        code: 200
        duration: 229.002761ms
[...]
    - id: 36
      request:
        host: int25-4-1.kftestlab.com
        body: '{"CertificateIds":[2429],"Reason":5,"Comment":"Terraform destroy called on provider with associated cert ID","EffectiveDate":"2026-03-19T21:28:22Z"}'
        headers:
            Content-Type:
                - application/json
            X-Keyfactor-Api-Version:
                - "1"
            X-Keyfactor-Requested-With:
                - APIClient
        url: https://int25-4-1.kftestlab.com/Keyfactor/API/Certificates/Revoke
        method: POST
      response:
        body: '{"RevokedIds":[2429],"SuspendedCerts":[]}'
        headers:
            Api-Supported-Versions:
                - 1.0, 2
            Content-Type:
                - application/json; charset=utf-8
            X-Keyfactor-Correlation-Id:
                - 4b7f6d45-117f-4a27-9a27-f49d1b655c38
            X-Keyfactor-Product-Version:
                - 25.4.1+dc0db2c8af1baf68b4c0043ec0f0f41a77aee11e
        status: 200 OK
        code: 200
        duration: 1.598045747s
