---
version: 2
interactions:
    - id: 0
      request:
        host: int25-4-1.kftestlab.com
        body: "null"
        headers:
            Content-Type:
                - application/json
            X-Keyfactor-Api-Version:
                - "1"
            X-Keyfactor-Requested-With:
                - APIClient
        url: https://int25-4-1.kftestlab.com/Keyfactor/API/CertificateStoreTypes/Name/K8STLSSecr
        method: GET
      response:
        body: '[{"Name":"K8STLSSecr","ShortName":"K8STLSSecr","Capability":"K8STLSSecr","StoreType":154,"ImportType":0,"LocalStore":false,"SupportedOperations":{"Add":true,"Create":true,"Discovery":true,"Enrollment":false,"Remove":true},"Properties":[{"Id":278,"StoreTypeId":154,"Name":"KubeNamespace","DisplayName":"KubeNamespace","Type":"String","Required":false,"ValidationOptions":{"OnCreation":0}},{"Id":279,"StoreTypeId":154,"Name":"KubeSecretName","DisplayName":"KubeSecretName","Type":"String","Required":false,"ValidationOptions":{"OnCreation":0}},{"Id":280,"StoreTypeId":154,"Name":"KubeSecretType","DisplayName":"KubeSecretType","Type":"String","DefaultValue":"tls_secret","Required":true,"ValidationOptions":{"OnCreation":1}},{"Id":281,"StoreTypeId":154,"Name":"IncludeCertChain","DisplayName":"Include Certificate Chain","Type":"Bool","DefaultValue":"true","Required":false,"ValidationOptions":{"OnCreation":0}},{"Id":282,"StoreTypeId":154,"Name":"SeparateChain","DisplayName":"Separate Chain","Type":"Bool","DefaultValue":"false","Required":false,"ValidationOptions":{"OnCreation":0}},{"Id":283,"StoreTypeId":154,"Name":"ServerUsername","DisplayName":"Server Username","Type":"Secret","Required":false,"ValidationOptions":{"OnCreation":0}},{"Id":284,"StoreTypeId":154,"Name":"ServerPassword","DisplayName":"Server Password","Type":"Secret","Required":false,"ValidationOptions":{"OnCreation":0}},{"Id":285,"StoreTypeId":154,"Name":"ServerUseSsl","DisplayName":"Use SSL","Type":"Bool","DefaultValue":"true","Required":true,"ValidationOptions":{"OnCreation":1}}],"EntryParameters":[],"PasswordOptions":{"EntrySupported":false,"StoreRequired":false,"Style":"Default"},"PrivateKeyAllowed":"Optional","CertificateFormat":0,"JobProperties":[],"ServerRequired":true,"PowerShell":false,"BlueprintAllowed":false,"CustomAliasAllowed":"Forbidden","ServerRegistration":35,"InventoryEndpoint":"/AnyInventory/Update","InventoryJobType":"1826f5fd-68c5-45ec-856e-2c0209c2018d","ManagementJobType":"50431909-6488-4237-a9b0-1158429cf59c","DiscoveryJobType":"f40a4c55-085b-47a7-bd42-a4103f6c4bd0"}]'
        headers:
            Api-Supported-Versions:
                - "1.0"
            Content-Type:
                - application/json; charset=utf-8
            X-Keyfactor-Correlation-Id:
                - faab8bb5-6cb4-4afd-9a3e-c0082df3367d
            X-Keyfactor-Product-Version:
                - 25.4.1+dc0db2c8af1baf68b4c0043ec0f0f41a77aee11e
        status: 200 OK
        code: 200
        duration: 870.523311ms
    - id: 1
      request:
        host: int25-4-1.kftestlab.com
        body: "null"
        form:
            pq.queryString:
                - AgentId -eq "275bcd31-9e7b-4c4a-bce9-1719e0c2168d"
        headers:
            Content-Type:
                - application/json
            X-Keyfactor-Api-Version:
                - "1"
            X-Keyfactor-Requested-With:
                - APIClient
        url: https://int25-4-1.kftestlab.com/Keyfactor/API/Agents?pq.queryString=AgentId%20-eq%20%22275bcd31-9e7b-4c4a-bce9-1719e0c2168d%22
        method: GET
      response:
        body: '[{"AgentId":"275bcd31-9e7b-4c4a-bce9-1719e0c2168d","ClientMachine":"container_uo-25-4","Username":"alpha-rho-rho-alpha-82852","AgentPlatform":1,"Version":"25.4.1.0","Status":2,"LastSeen":"2026-03-12T16:26:49.633Z","Capabilities":["K8STLSSecr","K8SSecret","K8SCert","K8SNS","SSL","K8SJKS","K8SPKCS12","K8SCluster","LOGS"],"Blueprint":null,"Thumbprint":"","LegacyThumbprint":"","AuthCertificateReenrollment":"None","LastThumbprintUsed":"","LastErrorCode":null,"LastErrorMessage":null,"JobTypes":[{"Name":"K8STLSSecr Management","CertStoreTypeShortName":"","CertStoreJobType":"Management","JobTypeId":"50431909-6488-4237-a9b0-1158429cf59c"},{"Name":"K8SSecret Inventory","CertStoreTypeShortName":"","CertStoreJobType":"Inventory","JobTypeId":"7726a60a-2914-4577-a8c2-139afb7e5872"},{"Name":"K8SCert Discovery","CertStoreTypeShortName":"","CertStoreJobType":"Discovery","JobTypeId":"6e5bd399-f98c-42f4-8f65-16810b51bac3"},{"Name":"K8SNS Inventory","CertStoreTypeShortName":"","CertStoreJobType":"Inventory","JobTypeId":"2fac1326-32b5-49b5-a844-193775c3079e"},{"Name":"K8STLSSecr Inventory","CertStoreTy[...]
    - id: 2
      request:
        host: int25-4-1.kftestlab.com
        body: '{"ClientMachine":"container_uo-25-4","StorePath":"default/tf-unit-ds-guid-1773953575076585000","CertStoreType":154,"Approved":false,"CreateIfMissing":false,"Properties":"{\"KubeSecretType\":\"tls\",\"ServerPassword\":\"{\\n  \\\"kind\\\": \\\"Config\\\",\\n  \\\"apiVersion\\\": \\\"v1\\\",\\n  \\\"preferences\\\": {},\\n  \\\"clusters\\\": [\\n    {\\n      \\\"name\\\": \\\"kubernetes\\\",\\n      \\\"cluster\\\": {\\n        \\\"server\\\": \\\"https://kf-integrations-dns-3db1dcf8.hcp.eastus.azmk8s.io:443\\\",\\n        \\\"certificate-authority-data\\\": \\\"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUU2RENDQXRDZ0F3SUJBZ0lRQjdhamVhWHlCZFVLQnNTVExxUDhOekFOQmdrcWhraUc5dzBCQVFzRkFEQU4KTVFzd0NRWURWUVFERXdKallUQWdGdzB5TWpFeE1EZ3lNVE01TVRCYUdBOHlNRFV5TVRFd09ESXhORGt4TUZvdwpEVEVMTUFrR0ExVUVBeE1DWTJFd2dnSWlNQTBHQ1NxR1NJYjNEUUVCQVFVQUE0SUNEd0F3Z2dJS0FvSUNBUUNvCk95b2VlK0l5MStKZ3JleDFWakxWSTFUejdVb2pqNStBdjJsd1ROQ3pVbjh2ZjdpK00zdjZEclcyTXdkb3o5VjUKVFZrZmhTK1pNV1JrV0xhczM1dUtjRkY4blM0ckxyY2JqL2gzdElOL2JST1J5QVFmTlNOVXpkdTJHbHN5cDlrcQpLeC9zYTRNQVRSRElpTlJOaWN[...]
    - id: 3
      request:
        host: int25-4-1.kftestlab.com
        body: "null"
        headers:
            Content-Type:
                - application/json
            X-Keyfactor-Api-Version:
                - "1"
            X-Keyfactor-Requested-With:
                - APIClient
        url: https://int25-4-1.kftestlab.com/Keyfactor/API/CertificateStores/772986fc-f5a2-45c8-a742-23844dbafbde
        method: GET
      response:
        body: '{"Id":"772986fc-f5a2-45c8-a742-23844dbafbde","ContainerId":null,"DisplayName":"container_uo-25-4 - default/tf-unit-ds-guid-1773953575076585000","ClientMachine":"container_uo-25-4","Storepath":"default/tf-unit-ds-guid-1773953575076585000","CertStoreInventoryJobId":null,"CertStoreType":154,"Approved":true,"CreateIfMissing":false,"Properties":"{\"KubeSecretType\":\"tls\",\"ServerPassword\":{\"Value\":\"********************\",\"SecretTypeGuid\":\"00000000-0000-0000-0000-000000000000\",\"InstanceId\":null,\"InstanceGuid\":null,\"ProviderTypeParameterValues\":[],\"ProviderId\":null,\"IsManaged\":false,\"SecretType\":0,\"RemoteProviderName\":null,\"HasValue\":true},\"ServerUseSsl\":\"true\",\"ServerUsername\":{\"Value\":\"********************\",\"SecretTypeGuid\":\"00000000-0000-0000-0000-000000000000\",\"InstanceId\":null,\"InstanceGuid\":null,\"ProviderTypeParameterValues\":[],\"ProviderId\":null,\"IsManaged\":false,\"SecretType\":0,\"RemoteProviderName\":null,\"HasValue\":true}}","AgentId":"275bcd31-9e7b-4c4a-bce9-1719e0c2168d","AgentAssigned":true,"ContainerName":null,"InventorySchedule":null,"ReenrollmentStatus":{"Data":false,"AgentId":null,"Message":"Key generation is not supported by the agent for this store.","JobProperties":null,"CustomAliasAllowed":0,"EntryParameters":[]},"SetNewPasswordAllowed":false,"Password":{"Value":"********************","SecretTypeGuid":"00000000-0000-0000-0000-000000000000","InstanceId":null,"InstanceGuid":null,"ProviderTypeParameterValues":[],"ProviderId":null,"IsManaged":false,"SecretType":0,"RemoteProviderName":null,"HasValue":true}}'
        headers:
            Api-Supported-Versions:
                - "1.0"
            Content-Type:
                - application/json; charset=utf-8
            X-Keyfactor-Correlation-Id:
                - 0e4efea6-9950-4dff-97d4-0efc9f7ad6a7
            X-Keyfactor-Product-Version:
                - 25.4.1+dc0db2c8af1baf68b4c0043ec0f0f41a77aee11e
        status: 200 OK
        code: 200
        duration: 176.770675ms
    - id: 4
      request:
        host: int25-4-1.kftestlab.com
        body: "null"
        headers:
            Content-Type:
                - application/json
            X-Keyfactor-Api-Version:
                - "1"
            X-Keyfactor-Requested-With:
                - APIClient
        url: https://int25-4-1.kftestlab.com/Keyfactor/API/CertificateStoreTypes/154
        method: GET
      response:
        body: '{"Name":"K8STLSSecr","ShortName":"K8STLSSecr","Capability":"K8STLSSecr","[...]
[...]
