---
version: 2
interactions:
    - id: 0
      request:
        host: int25-4-1.kftestlab.com
        body: '{"Name":"tf-unit-store-type-821892000","ShortName":"TFU892000","StoreType":0,"SupportedOperations":{"Add":true,"Create":false,"Discovery":false,"Enrollment":false,"Remove":true},"PasswordOptions":{"EntrySupported":false,"StoreRequired":false,"Style":"Default"},"PrivateKeyAllowed":"Optional","CustomAliasAllowed":"Forbidden"}'
        headers:
            Content-Type:
                - application/json
            X-Keyfactor-Api-Version:
                - "1"
            X-Keyfactor-Requested-With:
                - APIClient
        url: https://int25-4-1.kftestlab.com/Keyfactor/API/CertificateStoreTypes
        method: POST
      response:
        body: '{"Name":"tf-unit-store-type-821892000","ShortName":"TFU892000","Capability":"TFU892000","StoreType":545,"ImportType":0,"LocalStore":false,"SupportedOperations":{"Add":true,"Create":false,"Discovery":false,"Enrollment":false,"Remove":true},"Properties":[],"EntryParameters":[],"PasswordOptions":{"EntrySupported":false,"StoreRequired":false,"Style":"Default"},"PrivateKeyAllowed":"Optional","CertificateFormat":0,"JobProperties":[],"ServerRequired":false,"PowerShell":false,"BlueprintAllowed":false,"CustomAliasAllowed":"Forbidden","InventoryEndpoint":"/AnyInventory/Update","InventoryJobType":"23823f33-bb59-4b14-ba19-419cd1f5f8f8","ManagementJobType":"75992af5-e89a-4098-ab81-3f0fc5a26d75"}'
        headers:
            Api-Supported-Versions:
                - "1.0"
            Content-Type:
                - application/json; charset=utf-8
            X-Keyfactor-Correlation-Id:
                - 4f636791-0bc3-41c2-89c1-a74ee1302af7
            X-Keyfactor-Product-Version:
                - 25.4.1+dc0db2c8af1baf68b4c0043ec0f0f41a77aee11e
        status: 200 OK
        code: 200
        duration: 883.089943ms
    - id: 1
      request:
        host: int25-4-1.kftestlab.com
        body: "null"
        headers:
            Content-Type:
                - application/json
            X-Keyfactor-Api-Version:
                - "1"
            X-Keyfactor-Requested-With:
                - APIClient
        url: https://int25-4-1.kftestlab.com/Keyfactor/API/CertificateStoreTypes/545
        method: GET
      response:
        body: '{"Name":"tf-unit-store-type-821892000","ShortName":"TFU892000","Capabilit[...]
[...]
