---
version: 2
interactions:
    - id: 0
      request:
        host: int25-4-1.kftestlab.com
        body: ""
        headers:
        url: https://int25-4-1.kftestlab.com/Keyfactor/API/Certificates/2429?includeLocations=true
        method: GET
      response:
        body: '{"Id":2429,"Thumbprint":"D25F423760A047052E0B064B4B756E00B800C476","IssuedCN":"tf-unit-deploy.example.com","IssuedDN":"CN=tf-unit-deploy.example.com","Locations":[],"LocationsCount":[],"SSLLocations":[],"Metadata":{}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1ms
    - id: 1
      request:
        host: int25-4-1.kftestlab.com
        body: ""
        headers:
        url: https://int25-4-1.kftestlab.com/Keyfactor/API/CertificateStores/f0cc1ede-3173-44b3-8368-ba1251ddb32e/Inventory?query.pageReturned=1
        method: GET
      response:
        body: '[]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1ms
    - id: 2
      request:
        host: int25-4-1.kftestlab.com
        body: ""
        headers:
        url: https://int25-4-1.kftestlab.com/Keyfactor/API/CertificateStores/Certificates/Add
        method: POST
      response:
        body: '["eeeeeeee-5555-4555-8555-000000000001"]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1ms
    # Store has NO inventory schedule configured at all (every InventorySchedule
    # member is null): Create's storeHasInventorySchedule probe (T1) sees
    # hasInventorySchedule=false and, with fail_on_job_failure=true, falls back
    # to job-status-only validation instead of ever consulting inventory again.
    - id: 3
      request:
        host: int25-4-1.kftestlab.com
        body: ""
        headers:
        url: https://int25-4-1.kftestlab.com/Keyfactor/API/CertificateStores/f0cc1ede-3173-44b3-8368-ba1251ddb32e
        method: GET
      response:
        body: '{"Id":"f0cc1ede-3173-44b3-8368-ba1251ddb32e","ContainerId":null,"DisplayName":"container_uo-25-4 - default/tf-unit-deploy","ClientMachine":"container_uo-25-4","Storepath":"default/tf-unit-deploy","CertStoreType":154,"Approved":true,"CreateIfMissing":false,"AgentId":"275bcd31-9e7b-4c4a-bce9-1719e0c2168d","AgentAssigned":true,"ContainerName":null,"InventorySchedule":{"Immediate":null,"Interval":null,"Daily":null,"ExactlyOnce":null}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1ms
    - id: 4
      request:
        host: int25-4-1.kftestlab.com
        body: ""
        headers:
        url: https://int25-4-1.kftestlab.com/Keyfactor/API/OrchestratorJobs/JobHistory?QueryString=JobId+-eq+%22eeeeeeee-5555-4555-8555-000000000001%22&ReturnLimit=100&SortAscending=1&SortField=JobHistoryId
        method: GET
      response:
        body: '[{"JobHistoryId":601,"AgentMachine":"container_uo-25-4","JobId":"eeeeeeee-5555-4555-8555-000000000001","JobType":"K8STLSSecrManagement","OperationStart":"2026-03-19T21:26:45Z","OperationEnd":"2026-03-19T21:26:50Z","Message":"Job completed successfully","Result":2,"Status":3,"StorePath":"default/tf-unit-deploy","ClientMachine":"container_uo-25-4"}]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1ms
    # The terraform-plugin-testing framework performs a post-apply "plan for no
    # changes" check after this TestStep, which calls Read (GetCertificateContext)
    # once more before the implicit destroy begins -- a THIRD occurrence of this
    # same URL, distinct from both Create's initial read (id 0) and Delete's own
    # read below (id 6). Omitting this interaction is exactly the R1''-adjacent
    # trap: without it, Delete's real GetCertificateContext call (id 6) finds no
    # un-replayed match, errors with go-vcr's "requested interaction not found",
    # and Delete's pre-existing strings.Contains(err.Error(), "not found")
    # fallback (F1) swallows that as a benign "already gone" and calls
    # RemoveResource WITHOUT ever reaching the Remove POST, the T1 store probe,
    # or the JobHistory wait -- i.e. exactly the kind of vacuous destroy this
    # test exists to rule out.
[...]
    - id: 7
      request:
        host: int25-4-1.kftestlab.com
        body: ""
        headers:
        url: https://int25-4-1.kftestlab.com/Keyfactor/API/CertificateStores/Certificates/Remove
        method: POST
      response:
        body: '["eeeeeeee-5555-4555-8555-000000000002"]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1ms
    # Delete's own T1 probe (storeHasInventorySchedule), run after the Remove job
    # is submitted and before waitForJobsAndInventory. Same all-null-schedule
    # store body as id 3: a regression that made this probe unconditional
    # (skipping the gate) would still hit this interaction, but a regression
    # that DROPPED the probe (or the destroy-phase job wait) would leave this
    # interaction un-replayed and the subsequent JobHistory GET (id 9) would not
    # be reached in the expected order -- either way a missing/duplicated
    # request here surfaces as an unmatched-interaction error under consume-once.
[...]
