---
version: 2
interactions:
    - id: 0
      request:
        host: int25-4-1.kftestlab.com
        body: '{"Name":"tf-unit-store-type-ds-383619000","ShortName":"TFUDS19000","StoreType":0,"SupportedOperations":{"Add":true,"Create":false,"Discovery":false,"Enrollment":false,"Remove":true},"PasswordOptions":{"EntrySupported":false,"StoreRequired":false,"Style":"Default"},"PrivateKeyAllowed":"Optional","CustomAliasAllowed":"Forbidden"}'
        headers:
            Content-Type:
                - application/json
            X-Keyfactor-Api-Version:
                - "1"
            X-Keyfactor-Requested-With:
                - APIClient
        url: https://int25-4-1.kftestlab.com/Keyfactor/API/CertificateStoreTypes
        method: POST
      response:
        body: '{"Name":"tf-unit-store-type-ds-383619000","ShortName":"TFUDS19000","Capability":"TFUDS19000","StoreType":546,"ImportType":0,"LocalStore":false,"SupportedOperations":{"Add":true,"Create":false,"Discovery":false,"Enrollment":false,"Remove":true},"Properties":[],"EntryParameters":[],"PasswordOptions":{"EntrySupported":false,"StoreRequired":false,"Style":"Default"},"PrivateKeyAllowed":"Optional","CertificateFormat":0,"JobProperties":[],"ServerRequired":false,"PowerShell":false,"BlueprintAllowed":false,"CustomAliasAllowed":"Forbidden","InventoryEndpoint":"/AnyInventory/Update","InventoryJobType":"13499e93-670b-46e4-a74b-e50b1292fd8a","ManagementJobType":"42e063d2-063f-44ef-9659-e0c9a066aece"}'
        headers:
            Api-Supported-Versions:
                - "1.0"
            Content-Type:
                - application/json; charset=utf-8
            X-Keyfactor-Correlation-Id:
                - 805bd6be-baf9-4a3d-b323-ecbab1650b92
            X-Keyfactor-Product-Version:
                - 25.4.1+dc0db2c8af1baf68b4c0043ec0f0f41a77aee11e
        status: 200 OK
        code: 200
        duration: 871.154962ms
    - id: 1
      request:
        host: int25-4-1.kftestlab.com
        body: "null"
        headers:
            Content-Type:
                - application/json
            X-Keyfactor-Api-Version:
                - "1"
            X-Keyfactor-Requested-With:
                - APIClient
        url: https://int25-4-1.kftestlab.com/Keyfactor/API/CertificateStoreTypes/Name/TFUDS19000
        method: GET
      response:
        body: '[{"Name":"tf-unit-store-type-ds-383619000","ShortName":"TFUDS[...]
[...]
    - id: 3
      request:
        host: int25-4-1.kftestlab.com
        body: "null"
        headers:
            Content-Type:
                - application/json
            X-Keyfactor-Api-Version:
                - "1"
            X-Keyfactor-Requested-With:
                - APIClient
        url: https://int25-4-1.kftestlab.com/Keyfactor/API/CertificateStoreTypes/546
        method: GET
      response:
        body: '{"Name":"tf-unit-store-type-ds-383619000","ShortName":"TFUDS19000","Capab[...]
[...]
