---
version: 2
interactions:
    - id: 0
      request:
        host: int25-4-1.kftestlab.com:443
        headers:
            x-keyfactor-api-version:
                - "1"
            x-keyfactor-requested-with:
                - APIClient
        url: https://int25-4-1.kftestlab.com:443/Keyfactor/API/CertificateAuthority/1
        method: GET
      response:
        body: '{"Id":1,"LogicalName":"Sub-CA","HostName":"http://ejbca-ca.int25-4-1.svc.cluster.local:8082/ejbca","Delegate":false,"UseCAConnector":false,"ConnectorPool":"","DelegateEnrollment":false,"ForestRoot":"ejbca","ConfigurationTenant":"ejbca","Remote":false,"Agent":null,"AgentName":null,"AgentUsername":null,"Standalone":false,"MonitorThresholds":false,"IssuanceMax":null,"IssuanceMin":null,"DenialMax":0,"FailureMax":null,"RFCEnforcement":false,"Properties":"{\"syncExternal\":false}","AllowedEnrollmentTypes":3,"KeyRetention":1,"KeyRetentionDays":null,"ExplicitCredentials":false,"SubscriberTerms":false,"ExplicitUser":null,"ExplicitPassword":null,"UseAllowedRequesters":true,"AllowedRequesters":["InstanceOwner"],"FullScan":{"Interval":{"Minutes":60}},"IncrementalScan":{"Interval":{"Minutes":10}},"ThresholdCheck":null,"CAType":1,"AuthCertificate":null,"EnforceUniqueDN":false,"AllowOneClickRenewals":true,"NewEndEntityOnRenewAndReissue":true,"TokenURL":"https://auth.kftestlab.com/oauth2/token","ClientId":"upsilon-nu-omega-tau-40459","Scope":"","Audience":"","ClientSecret":{"SecretValue":"********************","Parameters":{},"Provider":null},"LastScan":"2026-03-19T20:20:03.2630000","CertificateCleanupEnabled":null,"TimeAfterExpiration":null,"TimeAfterExpirationUnits":null,"DeleteWithArchivedKey":null,"UseForEnrollment":true}'
        headers:
            Api-Supported-Versions:
                - "1.0"
            Content-Type:
                - application/json; charset=utf-8
            X-Keyfactor-Correlation-Id:
                - 7217d661-b3b0-47d9-bab9-cd14adafea8e
            X-Keyfactor-Product-Version:
                - 25.4.1+dc0db2c8af1baf68b4c0043ec0f0f41a77aee11e
        status: 200 OK
        code: 200
        duration: 893.983944ms
[...]
