---
version: 2
interactions:
    - id: 0
      request:
        host: int25-4-1.kftestlab.com
        body: "null"
        form:
            PageReturned:
                - "1"
            ReturnLimit:
                - "100"
        headers:
            Content-Type:
                - application/json
            X-Keyfactor-Api-Version:
                - "1"
            X-Keyfactor-Requested-With:
                - APIClient
        url: https://int25-4-1.kftestlab.com/Keyfactor/API/CertificateStoreTypes?PageReturned=1&ReturnLimit=100
        method: GET
      response:
        body: '[{"Name":"Akamai Certificate Provisioning Service","ShortName":"Akamai","Capability":"Akamai","StoreType":292,"ImportType":0,"LocalStore":false,"SupportedOperations":{"Add":false,"Create":false,"Discovery":false,"Enrollment":true,"Remove":false},"Properties":[{"Id":1062,"StoreTypeId":292,"Name":"access_token","DisplayName":"Access Token","Type":"Secret","Required":true,"ValidationOptions":{"OnCreation":1}},{"Id":1063,"StoreTypeId":292,"Name":"client_token","DisplayName":"Client Token","Type":"Secret","Required":true,"ValidationOptions":{"OnCreation":1}},{"Id":1064,"StoreTypeId":292,"Name":"client_secret","DisplayName":"Client Secret","Type":"Secret","Required":true,"ValidationOptions":{"OnCreation":1}}],"EntryParameters":[{"StoreTypeId":292,"Name":"EnrollmentId","DisplayName":"Enrollment ID","Type":"String","RequiredWhen":{"HasPrivateKey":false,"OnAdd":false,"OnRemove":false,"OnReenrollment":false},"ValidationOptions":{"HasPrivateKey":0,"OnAdd":0,"OnRemove":0,"OnODKG":0},"Id":211},{"StoreTypeId":292,"Name":"ContractId","DisplayName":"Contract ID","Type":"String","RequiredWhen":{"HasPrivateKey":false,"OnAdd":false,"OnRemove":false,"OnReenrollment":true},"ValidationOptions":{"HasPrivateKey":0,"OnAdd":0,"OnRemove":0,"OnODKG":1},"DefaultValue":"SET-DEFAULT","Id":212},{"StoreTypeId":292,"Name":"Sans","DisplayName":"SANs","Type":"String","RequiredWhen":{"HasPrivateKey":false,"OnAdd":false,"OnRemove":false,"OnReenrollment":true},"ValidationOptions":{"HasPrivateKey":0,"OnAdd":0,"OnRemove":0,"OnODKG":1},"Id":213},{"StoreTypeId":292,"Name":"admin-addressLineOne","DisplayName":"Admin - Address Line 1","Type":"String","RequiredWhen":{"HasPrivateKey":false,"OnAdd":false,"OnRemove":false,"OnReenrollment":true},"ValidationOptions":{"HasPrivateKe[...]
[...]
