---
version: 2
interactions:
    - id: 0
      request:
        host: int25-4-1.kftestlab.com:443
        body: |
            {"ClaimType":5,"ClaimValue":"tf-unit-claim-313421000","Description":"Unit test claim","ProviderAuthenticationScheme":"System"}
        headers:
            Content-Type:
                - application/json
            x-keyfactor-api-version:
                - "1"
            x-keyfactor-requested-with:
                - APIClient
        url: https://int25-4-1.kftestlab.com:443/Keyfactor/API/Security/Claims
        method: POST
      response:
        body: '{"Id":58,"Description":"Unit test claim","ClaimType":"OAuthSubject","ClaimValue":"tf-unit-claim-313421000","Provider":{"Id":"c70e8641-a543-45b1-a47f-8b7d253fbf14","AuthenticationScheme":"System","DisplayName":"System"}}'
        headers:
            Api-Supported-Versions:
                - "1.0"
            Content-Type:
                - application/json; charset=utf-8
            X-Keyfactor-Correlation-Id:
                - 80683e57-7e57-4574-a209-ed1a9fcc0cdd
            X-Keyfactor-Product-Version:
                - 25.4.1+dc0db2c8af1baf68b4c0043ec0f0f41a77aee11e
        status: 200 OK
        code: 200
        duration: 1.389225051s
    - id: 1
      request:
        host: int25-4-1.kftestlab.com:443
        headers:
            x-keyfactor-api-version:
                - "1"
            x-keyfactor-requested-with:
                - APIClient
        url: https://int25-4-1.kftestlab.com:443/Keyfactor/API/Security/Claims/58
        method: GET
      response:
        body: '{"Id":58,"Description":"Unit test claim","ClaimType":"OAuthSubject","ClaimValue":"tf-unit-claim-313421000","Provider":{"Id":"c70e8641-a543-45b1-a47f-8b7d253fbf14","AuthenticationScheme":"System","DisplayName":"System"}}'
        headers:
            Api-Supported-Versions:
                - "1.0"
            Content-Type:
                - application/json; charset=utf-8
            X-Keyfactor-Correlation-Id:
                - 11cadb1f-40a5-417b-8462-78b39321c960
            X-Keyfactor-Product-Version:
                - 25.4.1+dc0db2c8af1baf68b4c0043ec0f0f41a77aee11e
        status: 200 OK
        code: 200
        duration: 223.154644ms
[...]
