---
version: 2
interactions:
    - id: 0
      request:
        host: int25-4-1.kftestlab.com:443
        form:
            PageReturned:
                - "1"
            ReturnLimit:
                - "50"
        headers:
            x-keyfactor-api-version:
                - "1"
            x-keyfactor-requested-with:
                - APIClient
        url: https://int25-4-1.kftestlab.com:443/Keyfactor/API/PermissionSets?PageReturned=1&ReturnLimit=50
        method: GET
      response:
        body: '[{"Id":"099c05f0-deba-4562-a5b1-f491e19c0749","Name":"Global","Permissions":["/"]}]'
        headers:
            Api-Supported-Versions:
                - "1.0"
            Content-Type:
                - application/json; charset=utf-8
            X-Keyfactor-Correlation-Id:
                - 84d8095a-f00c-4879-b3bc-e01ca79b5eb3
            X-Keyfactor-Product-Version:
                - 25.4.1+dc0db2c8af1baf68b4c0043ec0f0f41a77aee11e
            X-Total-Count:
                - "1"
        status: 200 OK
        code: 200
        duration: 1.304489205s
[...]
    - id: 2
      request:
        host: int25-4-1.kftestlab.com:443
        body: |
            {"ClaimType":5,"ClaimValue":"tf-unit-claim-assoc-659978000","Description":"A Terraform test claim","ProviderAuthenticationScheme":"System"}
        headers:
            Content-Type:
                - application/json
            x-keyfactor-api-version:
                - "1"
            x-keyfactor-requested-with:
                - APIClient
        url: https://int25-4-1.kftestlab.com:443/Keyfactor/API/Security/Claims
        method: POST
      response:
        body: '{"Id":232,"Description":"A Terraform test claim","ClaimType":"OAuthSubject","ClaimValue":"tf-unit-claim-assoc-659978000","Provider":{"Id":"c70e8641-a543-45b1-a47f-8b7d253fbf14","AuthenticationScheme":"System","DisplayName":"System"}}'
        headers:
            Api-Supported-Versions:
                - "1.0"
            Content-Type:
                - application/json; charset=utf-8
            X-Keyfactor-Correlation-Id:
                - 93e85628-4b72-4518-bc34-9484cbefdc61
            X-Keyfactor-Product-Version:
                - 25.4.1+dc0db2c8af1baf68b4c0043ec0f0f41a77aee11e
        status: 200 OK
        code: 200
        duration: 156.496462ms
    - id: 3
      request:
        host: int25-4-1.kftestlab.com:443
        body: |
            {"Description":"A Terraform test role","EmailAddress":"foo@example.com","Name":"tf-unit-role-assoc1-659978000","PermissionSetId":"099c05f0-deba-4562-a5b1-f491e19c0749","Permissions":[]}
        headers:
            Content-Type:
                - application/json
            x-keyfactor-api-version:
                - "2"
            x-keyfactor-requested-with:
                - APIClient
        url: https://int25-4-1.kftestlab.com:443/Keyfactor/API/Security/Roles
        method: POST
      response:
        body: '{"Id":361,"Name":"tf-unit-role-assoc1-659978000","Description":"A Terraform test role","EmailAddress":"foo@example.com","Immutable":false,"PermissionSetId":"099c05f0-deba-4562-a5b1-f491e19c0749","Permissions":[],"Claims":[]}'
        headers:
            Api-Supported-Versions:
                - 1.0, 2
            Content-Type:
                - application/json; charset=utf-8
            X-Keyfactor-Correlation-Id:
                - 5f7da3d9-5182-40ad-b6a0-23d70349c2c7
            X-Keyfactor-Product-Version:
                - 25.4.1+dc0db2c8af1baf68b4c0043ec0f0f41a77aee11e
        status: 200 OK
        code: 200
        duration: 358.437263ms
    - id: 4
      request:
        host: int25-4-1.kftestlab.com:443
        headers:
            x-keyfactor-api-version:
                - "2"
            x-keyfactor-requested-with:
                - APIClient
        url: https://int25-4-1.kftestlab.com:443/Keyfactor/API/Security/Roles/361
        method: GET
      response:
        body: '{"Id":361,"Name":"tf-unit-role-assoc1-659978000","Description":"A Terraform test role","EmailAddress":"foo@example.com","Immutable":false,"PermissionSetId":"099c05f0-deba-4562-a5b1-f491e19c0749","Permissions":[],"Claims":[]}'
        headers:
            Api-Supported-Versions:
                - 1.0, 2
            Content-Type:
                - application/json; charset=utf-8
            X-Keyfactor-Correlation-Id:
                - 6c583a4b-033e-46f3-8029-c60e87fb0ea3
            X-Keyfactor-Product-Version:
                - 25.4.1+dc0db2c8af1baf68b4c0043ec0f0f41a77aee11e
        status: 200 OK
        code: 200
        duration: 132.029783ms
    - id: 5
      request:
        host: int25-4-1.kftestlab.com:443
        headers:
            x-keyfactor-api-version:
                - "1"
            x-keyfactor-requested-with:
                - APIClient
        url: https://int25-4-1.kftestlab.com:443/Keyfactor/API/Security/Claims/232
        method: GET
      response:
        body: '{"Id":232,"Description":"A Terraform test claim","ClaimType":"OAuthSubject","ClaimValue":"tf-unit-claim-assoc-659978000","Provider":{"Id":"c70e8641-a543-45b1-a47f-8b7d253fbf14","AuthenticationScheme":"System","DisplayName":"System"}}'
        headers:
            Api-Supported-Versions:
                - "1.0"
            Content-Type:
                - application/json; charset=utf-8
            X-Keyfactor-Correlation-Id:
                - b11e3f6e-0c39-4820-8ab3-58a572fe31a5
            X-Keyfactor-Product-Version:
                - 25.4.1+dc0db2c8af1baf68b4c0043ec0f0f41a77aee11e
        status: 200 OK
        code: 200
        duration: 132.768855ms
[...]
