---
version: 2
interactions:
    - id: 0
      request:
        host: int25-4-1.kftestlab.com:443
        body: |
            {"ClaimType":5,"ClaimValue":"tf-unit-claim-ds-779343000","Description":"Unit test claim for data source","ProviderAuthenticationScheme":"System"}
        headers:
            Content-Type:
                - application/json
            x-keyfactor-api-version:
                - "1"
            x-keyfactor-requested-with:
                - APIClient
        url: https://int25-4-1.kftestlab.com:443/Keyfactor/API/Security/Claims
        method: POST
      response:
        body: '{"Id":230,"Description":"Unit test claim for data source","ClaimType":"OAuthSubject","ClaimValue":"tf-unit-claim-ds-779343000","Provider":{"Id":"c70e8641-a543-45b1-a47f-8b7d253fbf14","AuthenticationScheme":"System","DisplayName":"System"}}'
        headers:
            Api-Supported-Versions:
                - "1.0"
            Content-Type:
                - application/json; charset=utf-8
            X-Keyfactor-Correlation-Id:
                - 378effa8-3a17-4581-9948-3f45f075c94b
            X-Keyfactor-Product-Version:
                - 25.4.1+dc0db2c8af1baf68b4c0043ec0f0f41a77aee11e
        status: 200 OK
        code: 200
        duration: 1.241658722s
    - id: 1
      request:
        host: int25-4-1.kftestlab.com:443
        form:
            QueryString:
                - ((ClaimValue -eq "tf-unit-claim-ds-779343000" and ClaimType -eq 5))
        headers:
            x-keyfactor-api-version:
                - "1"
            x-keyfactor-requested-with:
                - APIClient
        url: https://int25-4-1.kftestlab.com:443/Keyfactor/API/Security/Claims?QueryString=%28%28ClaimValue+-eq+%22tf-unit-claim-ds-779343000%22+and+ClaimType+-eq+5%29%29
        method: GET
      response:
        body: '[{"Id":230,"Description":"Unit test claim for data source","ClaimType":"OAuthSubject","ClaimValue":"tf-unit-claim-ds-779343000","Provider":{"Id":"c70e8641-a543-45b1-a47f-8b7d253fbf14","AuthenticationScheme":"System","DisplayName":"System"}}]'
        headers:
            Api-Supported-Versions:
                - "1.0"
            Content-Type:
                - application/json; charset=utf-8
            X-Keyfactor-Correlation-Id:
                - 4ca5030d-0c4c-4615-bd15-7064f1e07208
            X-Keyfactor-Product-Version:
                - 25.4.1+dc0db2c8af1baf68b4c0043ec0f0f41a77aee11e
            X-Total-Count:
                - "1"
        status: 200 OK
        code: 200
        duration: 143.15925ms
[...]
    - id: 3
      request:
        host: int25-4-1.kftestlab.com:443
        headers:
            x-keyfactor-api-version:
                - "1"
            x-keyfactor-requested-with:
                - APIClient
        url: https://int25-4-1.kftestlab.com:443/Keyfactor/API/Security/Claims/230
        method: GET
      response:
        body: '{"Id":230,"Description":"Unit test claim for data source","ClaimType":"OAuthSubject","ClaimValue":"tf-unit-claim-ds-779343000","Provider":{"Id":"c70e8641-a543-45b1-a47f-8b7d253fbf14","AuthenticationScheme":"System","DisplayName":"System"}}'
        headers:
            Api-Supported-Versions:
                - "1.0"
            Content-Type:
                - application/json; charset=utf-8
            X-Keyfactor-Correlation-Id:
                - 33f4dedb-97ff-4cb8-94d4-3ff7b4b6d1fd
            X-Keyfactor-Product-Version:
                - 25.4.1+dc0db2c8af1baf68b4c0043ec0f0f41a77aee11e
        status: 200 OK
        code: 200
        duration: 126.006903ms
[...]
