---
version: 2
interactions:
    - id: 0
      request:
        host: int25-4-1.kftestlab.com:443
        form:
            PageReturned:
                - "1"
            ReturnLimit:
                - "50"
        headers:
            x-keyfactor-api-version:
                - "1"
            x-keyfactor-requested-with:
                - APIClient
        url: https://int25-4-1.kftestlab.com:443/Keyfactor/API/PermissionSets?PageReturned=1&ReturnLimit=50
        method: GET
      response:
        body: '[{"Id":"099c05f0-deba-4562-a5b1-f491e19c0749","Name":"Global","Permissions":["/"]}]'
        headers:
            Api-Supported-Versions:
                - "1.0"
            Content-Type:
                - application/json; charset=utf-8
            X-Total-Count:
                - "1"
        status: 200 OK
        code: 200
        duration: 100ms
[...]
    - id: 2
      request:
        host: int25-4-1.kftestlab.com:443
        body: |
            {"Description":"Unit test nil-id role","EmailAddress":"nil-id-test@example.com","Name":"tf-unit-role-nil-id","PermissionSetId":"099c05f0-deba-4562-a5b1-f491e19c0749","Permissions":["/metadata/types/read/"]}
        headers:
            Content-Type:
                - application/json
            x-keyfactor-api-version:
                - "2"
            x-keyfactor-requested-with:
                - APIClient
        url: https://int25-4-1.kftestlab.com:443/Keyfactor/API/Security/Roles
        method: POST
      response:
        body: '{"Id":null,"Name":"tf-unit-role-nil-id","Description":"Unit test nil-id role","EmailAddress":"nil-id-test@example.com","Immutable":false,"Permissions":[],"Claims":[]}'
        headers:
            Api-Supported-Versions:
                - 1.0, 2
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 100ms
