---
version: 2
interactions:
    - id: 0
      request:
        host: int25-4-1.kftestlab.com:443
        form:
            PageReturned:
                - "1"
            ReturnLimit:
                - "50"
        headers:
            x-keyfactor-api-version:
                - "1"
            x-keyfactor-requested-with:
                - APIClient
        url: https://int25-4-1.kftestlab.com:443/Keyfactor/API/PermissionSets?PageReturned=1&ReturnLimit=50
        method: GET
      response:
        body: '[{"Id":"099c05f0-deba-4562-a5b1-f491e19c0749","Name":"Global","Permissions":["/"]}]'
        headers:
            Api-Supported-Versions:
                - "1.0"
            Content-Type:
                - application/json; charset=utf-8
            X-Keyfactor-Correlation-Id:
                - f2f2ba09-3507-4588-a9f7-bf4c8e9ba1f6
            X-Keyfactor-Product-Version:
                - 25.4.1+dc0db2c8af1baf68b4c0043ec0f0f41a77aee11e
            X-Total-Count:
                - "1"
        status: 200 OK
        code: 200
        duration: 934.388939ms
[...]
    - id: 2
      request:
        host: int25-4-1.kftestlab.com:443
        body: |
            {"Description":"A Terraform test role","EmailAddress":"foo@example.com","Name":"tf-unit-role-assoc-imp1-430744000","PermissionSetId":"099c05f0-deba-4562-a5b1-f491e19c0749","Permissions":[]}
        headers:
            Content-Type:
                - application/json
            x-keyfactor-api-version:
                - "2"
            x-keyfactor-requested-with:
                - APIClient
        url: https://int25-4-1.kftestlab.com:443/Keyfactor/API/Security/Roles
        method: POST
      response:
        body: '{"Id":133,"Name":"tf-unit-role-assoc-imp1-430744000","Description":"A Terraform test role","EmailAddress":"foo@example.com","Immutable":false,"PermissionSetId":"099c05f0-deba-4562-a5b1-f491e19c0749","Permissions":[],"Claims":[]}'
        headers:
            Api-Supported-Versions:
                - 1.0, 2
            Content-Type:
                - application/json; charset=utf-8
            X-Keyfactor-Correlation-Id:
                - e265af58-0682-4b45-8958-2a09db641c8b
            X-Keyfactor-Product-Version:
                - 25.4.1+dc0db2c8af1baf68b4c0043ec0f0f41a77aee11e
        status: 200 OK
        code: 200
        duration: 248.811308ms
    - id: 3
      request:
        host: int25-4-1.kftestlab.com:443
        body: |
            {"ClaimType":5,"ClaimValue":"tf-unit-claim-assoc-imp-430744000","Description":"A Terraform test claim","ProviderAuthenticationScheme":"System"}
        headers:
            Content-Type:
                - application/json
            x-keyfactor-api-version:
                - "1"
            x-keyfactor-requested-with:
                - APIClient
        url: https://int25-4-1.kftestlab.com:443/Keyfactor/API/Security/Claims
        method: POST
      response:
        body: '{"Id":73,"Description":"A Terraform test claim","ClaimType":"OAuthSubject","ClaimValue":"tf-unit-claim-assoc-imp-430744000","Provider":{"Id":"c70e8641-a543-45b1-a47f-8b7d253fbf14","AuthenticationScheme":"System","DisplayName":"System"}}'
        headers:
            Api-Supported-Versions:
                - "1.0"
            Content-Type:
                - application/json; charset=utf-8
            X-Keyfactor-Correlation-Id:
                - 896ce27c-0a38-44c9-bf44-e3e810b49ca7
            X-Keyfactor-Product-Version:
                - 25.4.1+dc0db2c8af1baf68b4c0043ec0f0f41a77aee11e
        status: 200 OK
        code: 200
        duration: 384.565044ms
    - id: 4
      request:
        host: int25-4-1.kftestlab.com:443
        headers:
            x-keyfactor-api-version:
                - "2"
            x-keyfactor-requested-with:
                - APIClient
        url: https://int25-4-1.kftestlab.com:443/Keyfactor/API/Security/Roles/133
        method: GET
      response:
        body: '{"Id":133,"Name":"tf-unit-role-assoc-imp1-430744000","Description":"A Terraform test role","EmailAddress":"foo@example.com","Immutable":false,"PermissionSetId":"099c05f0-deba-4562-a5b1-f491e19c0749","Permissions":[],"Claims":[]}'
        headers:
            Api-Supported-Versions:
                - 1.0, 2
            Content-Type:
                - application/json; charset=utf-8
            X-Keyfactor-Correlation-Id:
                - 39907fd0-f6c0-4868-a0d8-ea519c3df43e
            X-Keyfactor-Product-Version:
                - 25.4.1+dc0db2c8af1baf68b4c0043ec0f0f41a77aee11e
        status: 200 OK
        code: 200
        duration: 139.561563ms
    - id: 5
      request:
        host: int25-4-1.kftestlab.com:443
        headers:
            x-keyfactor-api-version:
                - "1"
            x-keyfactor-requested-with:
                - APIClient
        url: https://int25-4-1.kftestlab.com:443/Keyfactor/API/Security/Claims/73
        method: GET
      response:
        body: '{"Id":73,"Description":"A Terraform test claim","ClaimType":"OAuthSubject","ClaimValue":"tf-unit-claim-assoc-imp-430744000","Provider":{"Id":"c70e8641-a543-45b1-a47f-8b7d253fbf14","AuthenticationScheme":"System","DisplayName":"System"}}'
        headers:
            Api-Supported-Versions:
                - "1.0"
            Content-Type:
                - application/json; charset=utf-8
            X-Keyfactor-Correlation-Id:
                - 4104016b-05ca-4d33-8c6e-5f80f041ce46
            X-Keyfactor-Product-Version:
                - 25.4.1+dc0db2c8af1baf68b4c0043ec0f0f41a77aee11e
        status: 200 OK
        code: 200
        duration: 167.673144ms
[...]
