---
version: 2
interactions:
    - id: 0
      request:
        host: int25-4-1.kftestlab.com:443
        body: |
            {"ClaimType":5,"ClaimValue":"tf-unit-claim-ds-62496000","Description":"Unit test claim for data source","ProviderAuthenticationScheme":"System"}
        headers:
            Content-Type:
                - application/json
            x-keyfactor-api-version:
                - "1"
            x-keyfactor-requested-with:
                - APIClient
        url: https://int25-4-1.kftestlab.com:443/Keyfactor/API/Security/Claims
        method: POST
      response:
        body: '{"Id":57,"Description":"Unit test claim for data source","ClaimType":"OAuthSubject","ClaimValue":"tf-unit-claim-ds-62496000","Provider":{"Id":"c70e8641-a543-45b1-a47f-8b7d253fbf14","AuthenticationScheme":"System","DisplayName":"System"}}'
        headers:
            Api-Supported-Versions:
                - "1.0"
            Content-Type:
                - application/json; charset=utf-8
            X-Keyfactor-Correlation-Id:
                - e66ad4ad-8fe9-426f-bc3d-2fc12e34bd5a
            X-Keyfactor-Product-Version:
                - 25.4.1+dc0db2c8af1baf68b4c0043ec0f0f41a77aee11e
        status: 200 OK
        code: 200
        duration: 1.387139054s
    - id: 1
      request:
        host: int25-4-1.kftestlab.com:443
        form:
            QueryString:
                - ((ClaimValue -eq "tf-unit-claim-ds-62496000" and ClaimType -eq 5))
        headers:
            x-keyfactor-api-version:
                - "1"
            x-keyfactor-requested-with:
                - APIClient
        url: https://int25-4-1.kftestlab.com:443/Keyfactor/API/Security/Claims?QueryString=%28%28ClaimValue+-eq+%22tf-unit-claim-ds-62496000%22+and+ClaimType+-eq+5%29%29
        method: GET
      response:
        body: '[{"Id":57,"Description":"Unit test claim for data source","ClaimType":"OAuthSubject","ClaimValue":"tf-unit-claim-ds-62496000","Provider":{"Id":"c70e8641-a543-45b1-a47f-8b7d253fbf14","AuthenticationScheme":"System","DisplayName":"System"}}]'
        headers:
            Api-Supported-Versions:
                - "1.0"
            Content-Type:
                - application/json; charset=utf-8
            X-Keyfactor-Correlation-Id:
                - e483658c-f512-4618-9472-b0ebbe23bfb0
            X-Keyfactor-Product-Version:
                - 25.4.1+dc0db2c8af1baf68b4c0043ec0f0f41a77aee11e
            X-Total-Count:
                - "1"
        status: 200 OK
        code: 200
        duration: 150.568553ms
[...]
    - id: 3
      request:
        host: int25-4-1.kftestlab.com:443
        headers:
            x-keyfactor-api-version:
                - "1"
            x-keyfactor-requested-with:
                - APIClient
        url: https://int25-4-1.kftestlab.com:443/Keyfactor/API/Security/Claims/57
        method: GET
      response:
        body: '{"Id":57,"Description":"Unit test claim for data source","ClaimType":"OAuthSubject","ClaimValue":"tf-unit-claim-ds-62496000","Provider":{"Id":"c70e8641-a543-45b1-a47f-8b7d253fbf14","AuthenticationScheme":"System","DisplayName":"System"}}'
        headers:
            Api-Supported-Versions:
                - "1.0"
            Content-Type:
                - application/json; charset=utf-8
            X-Keyfactor-Correlation-Id:
                - 4151dc5e-575d-4377-8cdd-579add78fc9c
            X-Keyfactor-Product-Version:
                - 25.4.1+dc0db2c8af1baf68b4c0043ec0f0f41a77aee11e
        status: 200 OK
        code: 200
        duration: 178.989441ms
[...]
