---
version: 2
interactions:
    - id: 0
      request:
        host: int25-4-1.kftestlab.com:443
        body: |
            {"Name":"tf-unit-pamtype-61833000","Parameters":[{"DataType":1,"DisplayName":"PAM Host","InstanceLevel":false,"Name":"Host"},{"DataType":2,"DisplayName":"PAM API Key","InstanceLevel":false,"Name":"ApiKey"}]}
        headers:
            Content-Type:
                - application/json
            x-keyfactor-api-version:
                - "1"
            x-keyfactor-requested-with:
                - APIClient
        url: https://int25-4-1.kftestlab.com:443/Keyfactor/API/PamProviders/Types
        method: POST
      response:
        body: '{"Id":"30c7efc0-f816-4920-95b4-32b203c95514","Name":"tf-unit-pamtype-61833000","Parameters":[{"Id":46,"Name":"Host","DisplayName":"PAM Host","DataType":1,"InstanceLevel":false},{"Id":47,"Name":"ApiKey","DisplayName":"PAM API Key","DataType":2,"InstanceLevel":false}]}'
        headers:
            Api-Supported-Versions:
                - 1.0, 2
            Content-Type:
                - application/json; charset=utf-8
            X-Keyfactor-Correlation-Id:
                - aff8988f-e35e-48ea-be73-975d08608447
            X-Keyfactor-Product-Version:
                - 25.4.1+dc0db2c8af1baf68b4c0043ec0f0f41a77aee11e
        status: 200 OK
        code: 200
        duration: 1.42161303s
    - id: 1
      request:
        host: int25-4-1.kftestlab.com:443
        body: |
            {"Name":"tf-unit-pam-61833000","ProviderType":{"Id":"30c7efc0-f816-4920-95b4-32b203c95514"},"ProviderTypeParamValues":[{"Id":46,"ProviderTypeParam":{"Id":46,"Name":"Host"},"Value":"https://pam.example.com"},{"Id":47,"ProviderTypeParam":{"Id":47,"Name":"ApiKey"},"Value":"secret123"}]}
        headers:
            Content-Type:
                - application/json
            x-keyfactor-api-version:
                - "1"
            x-keyfactor-requested-with:
                - APIClient
        url: https://int25-4-1.kftestlab.com:443/Keyfactor/API/PamProviders
        method: POST
      response:
        body: '{"Id":16,"Name":"tf-unit-pam-61833000","Area":1,"ProviderType":{"Id":"30c7efc0-f816-4920-95b4-32b203c95514","Name":"tf-unit-pamtype-61833000","ProviderTypeParams":[{"Id":46,"Name":"Host","DisplayName":"PAM Host","DataType":1,"InstanceLevel":false,"ProviderType":null},{"Id":47,"Name":"ApiKey","DisplayName":"PAM API Key","DataType":2,"InstanceLevel":false,"ProviderType":null}]},"ProviderTypeParamValues":[{"Id":14,"Value":"https://pam.example.com","InstanceId":null,"InstanceGuid":null,"ProviderTypeParam":{"Id":46,"Name":"Host","DisplayName":"PAM Host","DataType":1,"InstanceLevel":false}},{"Id":15,"Value":"ad263050-a7f8-4945-9737-a49382328c80","InstanceId":null,"InstanceGuid":"ad263050-a7f8-4945-9737-a49382328c80","ProviderTypeParam":{"Id":47,"Name":"ApiKey","DisplayName":"PAM API Key","DataType":2,"InstanceLevel":false}}],"SecuredAreaId":null,"Remote":false}'
        headers:
            Api-Supported-Versions:
                - 1.0, 2
            Content-Type:
                - application/json; charset=utf-8
            X-Keyfactor-Correlation-Id:
                - 1df0b234-878c-4ec8-aff3-12d3ae264d19
            X-Keyfactor-Product-Version:
                - 25.4.1+dc0db2c8af1baf68b4c0043ec0f0f41a77aee11e
        status: 200 OK
        code: 200
        duration: 306.872426ms
[...]
    - id: 3
      request:
        host: int25-4-1.kftestlab.com:443
        headers:
            x-keyfactor-api-version:
                - "1"
            x-keyfactor-requested-with:
                - APIClient
        url: https://int25-4-1.kftestlab.com:443/Keyfactor/API/PamProviders/16
        method: GET
      response:
        body: '{"Id":16,"Name":"tf-unit-pam-61833000","Area":1,"ProviderType":{"Id":"30c7efc0-f816-4920-95b4-32b203c95514","Name":"tf-unit-pamtype-61833000","ProviderTypePa[...]
[...]
    - id: 10
      request:
        host: int25-4-1.kftestlab.com:443
        headers:
            x-keyfactor-api-version:
                - "1"
            x-keyfactor-requested-with:
                - APIClient
        url: https://int25-4-1.kftestlab.com:443/Keyfactor/API/PamProviders/Types/30c7efc0-f816-4920-95b4-32b203c95514
        method: DELETE
      response:
        body: ""
        headers:
            Api-Supported-Versions:
                - 1.0, 2
            X-Keyfactor-Correlation-Id:
                - 711f2122-f58c-4e6a-9f01-8a813104f9c2
            X-Keyfactor-Product-Version:
                - 25.4.1+dc0db2c8af1baf68b4c0043ec0f0f41a77aee11e
        status: 204 No Content
        code: 204
        duration: 183.287483ms
