---
version: 2
interactions:
    - id: 0
      request:
        host: int25-4-1.kftestlab.com:443
        body: |
            {"Name":"tf-unit-pamtype-ds-294110000","Parameters":[{"DataType":1,"DisplayName":"PAM Host","InstanceLevel":false,"Name":"Host"},{"DataType":2,"DisplayName":"PAM API Key","InstanceLevel":false,"Name":"ApiKey"}]}
        headers:
            Content-Type:
                - application/json
            x-keyfactor-api-version:
                - "1"
            x-keyfactor-requested-with:
                - APIClient
        url: https://int25-4-1.kftestlab.com:443/Keyfactor/API/PamProviders/Types
        method: POST
      response:
        body: '{"Id":"fabb71d5-aa7f-4153-a8f3-14559993e483","Name":"tf-unit-pamtype-ds-294110000","Parameters":[{"Id":50,"Name":"Host","DisplayName":"PAM Host","DataType":1,"InstanceLevel":false},{"Id":51,"Name":"ApiKey","DisplayName":"PAM API Key","DataType":2,"InstanceLevel":false}]}'
        headers:
            Api-Supported-Versions:
                - 1.0, 2
            Content-Type:
                - application/json; charset=utf-8
            X-Keyfactor-Correlation-Id:
                - 04bb6212-7439-4752-876a-f7eac39e08ac
            X-Keyfactor-Product-Version:
                - 25.4.1+dc0db2c8af1baf68b4c0043ec0f0f41a77aee11e
        status: 200 OK
        code: 200
        duration: 1.264971875s
[...]
    - id: 13
      request:
        host: int25-4-1.kftestlab.com:443
        headers:
            x-keyfactor-api-version:
                - "1"
            x-keyfactor-requested-with:
                - APIClient
        url: https://int25-4-1.kftestlab.com:443/Keyfactor/API/PamProviders/Types/fabb71d5-aa7f-4153-a8f3-14559993e483
        method: DELETE
      response:
        body: ""
        headers:
            Api-Supported-Versions:
                - 1.0, 2
            X-Keyfactor-Correlation-Id:
                - 274ad250-5696-46d8-9893-9787e8930585
            X-Keyfactor-Product-Version:
                - 25.4.1+dc0db2c8af1baf68b4c0043ec0f0f41a77aee11e
        status: 204 No Content
        code: 204
        duration: 178.791636ms
