---
version: 2
interactions:
    - id: 0
      request:
        host: int25-4-1.kftestlab.com:443
        body: |
            {"Name":"tf-unit-pamtype-ds-20285000"}
        headers:
            Content-Type:
                - application/json
            x-keyfactor-api-version:
                - "1"
            x-keyfactor-requested-with:
                - APIClient
        url: https://int25-4-1.kftestlab.com:443/Keyfactor/API/PamProviders/Types
        method: POST
      response:
        body: '{"Id":"a942c3c3-57ce-446f-913c-b5756ed8bb3a","Name":"tf-unit-pamtype-ds-20285000","Parameters":[]}'
        headers:
            Api-Supported-Versions:
                - 1.0, 2
            Content-Type:
                - application/json; charset=utf-8
            X-Keyfactor-Correlation-Id:
                - c8e44bca-3d0b-43ed-8bb7-cfa32ed0bf7b
            X-Keyfactor-Product-Version:
                - 25.4.1+dc0db2c8af1baf68b4c0043ec0f0f41a77aee11e
        status: 200 OK
        code: 200
        duration: 1.19114919s
    - id: 1
      request:
        host: int25-4-1.kftestlab.com:443
        body: |
            {"Name":"tf-unit-pam-ds-20285000","ProviderType":{"Id":"a942c3c3-57ce-446f-913c-b5756ed8bb3a"}}
        headers:
            Content-Type:
                - application/json
            x-keyfactor-api-version:
                - "1"
            x-keyfactor-requested-with:
                - APIClient
        url: https://int25-4-1.kftestlab.com:443/Keyfactor/API/PamProviders
        method: POST
      response:
        body: '{"Id":17,"Name":"tf-unit-pam-ds-20285000","Area":1,"ProviderType":{"Id":"a942c3c3-57ce-446f-913c-b5756ed8bb3a","Name":"tf-unit-pamtype-ds-20285000","ProviderTypeParams":[]},"ProviderTypeParamValues":[],"SecuredAreaId":null,"Remote":false}'
        headers:
            Api-Supported-Versions:
                - 1.0, 2
            Content-Type:
                - application/json; charset=utf-8
            X-Keyfactor-Correlation-Id:
                - 9c8983d2-15fb-4939-b157-ac5ba73d26c5
            X-Keyfactor-Product-Version:
                - 25.4.1+dc0db2c8af1baf68b4c0043ec0f0f41a77aee11e
        status: 200 OK
        code: 200
        duration: 181.959708ms
    - id: 2
      request:
        host: int25-4-1.kftestlab.com:443
        headers:
            x-keyfactor-api-version:
                - "1"
            x-keyfactor-requested-with:
                - APIClient
        url: https://int25-4-1.kftestlab.com:443/Keyfactor/API/PamProviders
        method: GET
      response:
        body: '[{"Id":1,"Name":"tf-test-thycotic-updated","Area":1,"ProviderType":{"Id":"c09bbfa5-a081-4194-9dd2-31f3cc3fabcc","Name":"Thycotic","ProviderTypeParams":[{"Id":5,"Name":"SecretServerUrl","DisplayName":"Server URL","DataType":1,"InstanceLevel":false,"ProviderType":null},{"Id":6,"Name":"RuleName","DisplayName":"Rule Name","DataType":1,"InstanceLevel":false,"ProviderType":null},{"Id":7,"Name":"SecretId","DisplayName":"Thycotic Secret ID","DataType":1,"InstanceLevel":true,"ProviderType":null},{"Id":8,"Name":"RuleKey","DisplayName":"Rule Key","DataType":2,"InstanceLevel":false,"ProviderType":null}]},"ProviderTypeParamValues":[{"Id":1,"Value":"https://vault2.example.com","InstanceId":null,"InstanceGuid":null,"ProviderTypeParam":{"Id":5,"Name":"SecretServerUrl","DisplayName":"Server URL","DataType":1,"InstanceLevel":false}},{"Id":2,"Value":"MyRule2","InstanceId":null,"InstanceGuid":null,"ProviderTypeParam":{"Id":6,"Name":"RuleName","DisplayName":"Rule Name","DataType":1,"InstanceLevel":false}},{"Id":3,"Value":"d8c3d122-4574-48a9-8798-2020e108922e","InstanceId":null,"InstanceGuid":"d8c3d122-4574-48a9-8798-2020e108922e","ProviderTypeParam":{"Id":8,"Name":"RuleKey","DisplayName":"Rule Key","DataType":2,"InstanceLevel":false}}],"SecuredAreaId":null,"Remote":false},{"Id":17,"Name":"tf-unit-pam-ds-20285000","Area":1,"ProviderType":{"Id":"a942c3c3-57ce-446f-913c-b5756ed8bb3a","Name":"tf-unit-pamtype-ds-20285000","ProviderTypeParams":[]},"ProviderTypeParamValues":[],"SecuredAreaId":null,"Remote":false}]'
        headers:
            Api-Supported-Versions:
                - 1.0, 2
            Content-Type:
                - application/json; charset=utf-8
            X-Keyfactor-Correlation-Id:
                - f0a3d640-8aa2-4353-b1a0-e6d085739916
            X-Keyfactor-Product-Version:
                - 25.4.1+dc0db2c8af1baf68b4c0043ec0f0f41a77aee11e
            X-Total-Count:
                - "2"
        status: 200 OK
        code: 200
        duration: 220.263255ms
[...]
    - id: 5
      request:
        host: int25-4-1.kftestlab.com:443
        headers:
            x-keyfactor-api-version:
                - "1"
            x-keyfactor-requested-with:
                - APIClient
        url: https://int25-4-1.kftestlab.com:443/Keyfactor/API/PamProviders/17
        method: GET
      response:
        body: '{"Id":17,"Name":"tf-unit-pam-ds-20285000","Area":1,"ProviderType":{"Id":"a942c3c3-57ce-446f-913c-b5756ed8bb3a","Name":"tf-unit-pamtype-ds-20285000","ProviderTypeParams":[]},"ProviderTypeParamValues":[],"SecuredAreaId":null,"Remote":false}'
        headers:
            Api-Supported-Versions:
                - 1.0, 2
            Content-Type:
                - application/json; charset=utf-8
            X-Keyfactor-Correlation-Id:
                - cba6323b-1970-4775-9b80-4d25e49d4cc7
            X-Keyfactor-Product-Version:
                - 25.4.1+dc0db2c8af1baf68b4c0043ec0f0f41a77aee11e
        status: 200 OK
        code: 200
        duration: 147.049913ms
[...]
    - id: 18
      request:
        host: int25-4-1.kftestlab.com:443
        headers:
            x-keyfactor-api-version:
                - "1"
            x-keyfactor-requested-with:
                - APIClient
        url: https://int25-4-1.kftestlab.com:443/Keyfactor/API/PamProviders/Types/a942c3c3-57ce-446f-913c-b5756ed8bb3a
        method: DELETE
      response:
        body: ""
        headers:
            Api-Supported-Versions:
                - 1.0, 2
            X-Keyfactor-Correlation-Id:
                - 32a754c1-a19e-4f47-a3bb-f20ecb24bbca
            X-Keyfactor-Product-Version:
                - 25.4.1+dc0db2c8af1baf68b4c0043ec0f0f41a77aee11e
        status: 204 No Content
        code: 204
        duration: 157.040813ms
