---
version: 2
interactions:
    - id: 0
      request:
        host: int25-4-1.kftestlab.com:443
        body: |
            {"Name":"tf-unit-pamtype-178315000","Parameters":[{"DataType":1,"DisplayName":"PAM Host","InstanceLevel":false,"Name":"Host"},{"DataType":2,"DisplayName":"PAM API Key","InstanceLevel":false,"Name":"ApiKey"}]}
        headers:
            Content-Type:
                - application/json
            x-keyfactor-api-version:
                - "1"
            x-keyfactor-requested-with:
                - APIClient
        url: https://int25-4-1.kftestlab.com:443/Keyfactor/API/PamProviders/Types
        method: POST
      response:
        body: '{"Id":"e7260392-09bc-4c72-9a48-068c48cb4cb1","Name":"tf-unit-pamtype-178315000","Parameters":[{"Id":48,"Name":"Host","DisplayName":"PAM Host","DataType":1,"InstanceLevel":false},{"Id":49,"Name":"ApiKey","DisplayName":"PAM API Key","DataType":2,"InstanceLevel":false}]}'
        headers:
            Api-Supported-Versions:
                - 1.0, 2
            Content-Type:
                - application/json; charset=utf-8
            X-Keyfactor-Correlation-Id:
                - 120e817c-e2e5-4ff5-afc7-a71f7d34a2b3
            X-Keyfactor-Product-Version:
                - 25.4.1+dc0db2c8af1baf68b4c0043ec0f0f41a77aee11e
        status: 200 OK
        code: 200
        duration: 1.356574184s
[...]
    - id: 2
      request:
        host: int25-4-1.kftestlab.com:443
        headers:
            x-keyfactor-api-version:
                - "1"
            x-keyfactor-requested-with:
                - APIClient
        url: https://int25-4-1.kftestlab.com:443/Keyfactor/API/PamProviders/Types/e7260392-09bc-4c72-9a48-068c48cb4cb1
        method: DELETE
      response:
        body: ""
        headers:
            Api-Supported-Versions:
                - 1.0, 2
            X-Keyfactor-Correlation-Id:
                - 3ab1ce64-7932-4a67-b259-f550363c993d
            X-Keyfactor-Product-Version:
                - 25.4.1+dc0db2c8af1baf68b4c0043ec0f0f41a77aee11e
        status: 204 No Content
        code: 204
        duration: 167.143988ms
