---
version: 2
interactions:
    - id: 0
      request:
        host: kftrain.keyfactor.lab
        body: '{"AccountName":"KEYFACTOR\\Guest"}'
        headers:
            Content-Type:
                - application/json
            X-Keyfactor-Api-Version:
                - "1"
            X-Keyfactor-Requested-With:
                - APIClient
        url: https://kftrain.keyfactor.lab/KeyfactorAPI/Security/Identities
        method: POST
      response:
        body: '{"Id":7,"AccountName":"KEYFACTOR\\Guest","IdentityType":"User","Roles":[],"Valid":true}'
        headers:
            Api-Supported-Versions:
                - "1.0"
            Content-Type:
                - application/json; charset=utf-8
            X-Keyfactor-Correlation-Id:
                - 15c5208e-9b0d-4a4e-90bd-15438f224478
            X-Keyfactor-Product-Version:
                - 25.4.1+bec54275b9f2b7d3e25b827709b121d4f0e571b2
        status: 200 OK
        code: 200
        duration: 45.154519ms
    - id: 1
      request:
        host: kftrain.keyfactor.lab
        body: "null"
        headers:
            Content-Type:
                - application/json
            X-Keyfactor-Api-Version:
                - "1"
            X-Keyfactor-Requested-With:
                - APIClient
        url: https://kftrain.keyfactor.lab/KeyfactorAPI/Security/Identities
        method: GET
      response:
        body: '[{"Id":2,"AccountName":"KEYFACTOR\\SVC_AppPool","IdentityType":"User","Roles":[{"Id":2,"Description":"Default Role For Dashboard use","EmailAddress":null,"Enabled":false,"Immutable":false,"Valid":null,"Private":false,"PermissionSetId":"00000000-0000-0000-0000-000000000000","Identities":[],"Name":"Reporting API Access","Permissions":[]}],"Valid":true},{"Id":1,"AccountName":"KEYFACTOR\\Administrator","IdentityType":"User","Roles":[{"Id":1,"Description":"Built-in management portal administration role","EmailAddress":null,"Enabled":false,"Immutable":false,"Valid":null,"Private":false,"PermissionSetId":"00000000-0000-0000-0000-000000000000","Identities":[],"Name":"Administrator","Permissions":[]}],"Valid":true},{"Id":7,"AccountName":"KEYFACTOR\\Guest","IdentityType":"User","Roles":[],"Valid":true},{"Id":3,"AccountName":"KEYFACTOR\\kfadmin","IdentityType":"User","Roles":[{"Id":3,"Description":"kfadmin","EmailAddress":null,"Enabled":false,"Immutable":false,"Valid":null,"Private":false,"PermissionSetId":"00000000-0000-0000-0000-000000000000","Identities":[],"Name":"kfadmin","Permissions":[]}],"Valid":true}]'
        headers:
            Api-Supported-Versions:
                - "1.0"
            Content-Type:
                - application/json; charset=utf-8
            X-Keyfactor-Correlation-Id:
                - 16dce463-bcfe-4fee-986e-fa5dec367999
            X-Keyfactor-Product-Version:
                - 25.4.1+bec54275b9f2b7d3e25b827709b121d4f0e571b2
            X-Total-Count:
                - "4"
        status: 200 OK
        code: 200
        duration: 22.500319ms
    - id: 2
      request:
        host: kftrain.keyfactor.lab
        body: "null"
        headers:
            Content-Type:
                - application/json
            X-Keyfactor-Api-Version:
                - "1"
            X-Keyfactor-Requested-With:
                - APIClient
        url: https://kftrain.keyfactor.lab/KeyfactorAPI/Security/Identities/7
        method: DELETE
      response:
        body: ""
        headers:
            Api-Supported-Versions:
                - "1.0"
            X-Keyfactor-Correlation-Id:
                - ab59db2c-f7f5-4851-b190-06183b6e9340
            X-Keyfactor-Product-Version:
                - 25.4.1+bec54275b9f2b7d3e25b827709b121d4f0e571b2
        status: 204 No Content
        code: 204
        duration: 21.618058ms
