---
version: 2
interactions:
    - id: 0
      request:
        host: kftrain.keyfactor.lab
        body: "null"
        headers:
            Content-Type:
                - application/json
            X-Keyfactor-Api-Version:
                - "1"
            X-Keyfactor-Requested-With:
                - APIClient
        url: https://kftrain.keyfactor.lab/KeyfactorAPI/Security/Identities
        method: GET
      response:
        body: '[{"Id":2,"AccountName":"KEYFACTOR\\SVC_AppPool","IdentityType":"User","Roles":[{"Id":2,"Description":"Default Role For Dashboard use","EmailAddress":null,"Enabled":false,"Immutable":false,"Valid":null,"Private":false,"PermissionSetId":"00000000-0000-0000-0000-000000000000","Identities":[],"Name":"Reporting API Access","Permissions":[]}],"Valid":true},{"Id":1,"AccountName":"KEYFACTOR\\Administrator","IdentityType":"User","Roles":[{"Id":1,"Description":"Built-in management portal administration role","EmailAddress":null,"Enabled":false,"Immutable":false,"Valid":null,"Private":false,"PermissionSetId":"00000000-0000-0000-0000-000000000000","Identities":[],"Name":"Administrator","Permissions":[]}],"Valid":true},{"Id":3,"AccountName":"KEYFACTOR\\kfadmin","IdentityType":"User","Roles":[{"Id":3,"Description":"kfadmin","EmailAddress":null,"Enabled":false,"Immutable":false,"Valid":null,"Private":false,"PermissionSetId":"00000000-0000-0000-0000-000000000000","Identities":[],"Name":"kfadmin","Permissions":[]}],"Valid":true}]'
        headers:
            Api-Supported-Versions:
                - "1.0"
            Content-Type:
                - application/json; charset=utf-8
            X-Keyfactor-Correlation-Id:
                - 0c8cadc0-e83e-44bc-8804-a6cde16e0d95
            X-Keyfactor-Product-Version:
                - 25.4.1+bec54275b9f2b7d3e25b827709b121d4f0e571b2
            X-Total-Count:
                - "3"
        status: 200 OK
        code: 200
        duration: 20.925014ms
    - id: 1
      request:
        host: kftrain.keyfactor.lab
        body: "null"
        form:
            pq.queryString:
                - name -eq "Reporting API Access"
        headers:
            Content-Type:
                - application/json
            X-Keyfactor-Api-Version:
                - "1"
            X-Keyfactor-Requested-With:
                - APIClient
        url: https://kftrain.keyfactor.lab/KeyfactorAPI/Security/Roles?pq.queryString=name%20-eq%20%22Reporting%20API%20Access%22
        method: GET
      response:
        body: '[{"Id":2,"Description":"Default Role For Dashboard use","EmailAddress":null,"Enabled":true,"Immutable":true,"Valid":true,"Private":false,"PermissionSetId":"099c05f0-deba-4562-a5b1-f491e19c0749","Identities":[{"Id":2,"AccountName":"KEYFACTOR\\SVC_AppPool","IdentityType":"User","SID":"S-1-5-21-3347429598-2051010716-1335198688-1104"}],"Name":"Reporting API Access","Permissions":["AdminPortal:Read","Dashboard:Read"]}]'
        headers:
            Api-Supported-Versions:
                - 1.0, 2
            Content-Type:
                - application/json; charset=utf-8
            X-Keyfactor-Correlation-Id:
                - 7611b31c-f578-4341-bea9-871ae4f6ac3b
            X-Keyfactor-Product-Version:
                - 25.4.1+bec54275b9f2b7d3e25b827709b121d4f0e571b2
            X-Total-Count:
                - "1"
        status: 200 OK
        code: 200
        duration: 86.097675ms
[...]
