---
version: 2
interactions:
    - id: 0
      request:
        host: int25-4-1.kftestlab.com
        body: '{"Name":"tf-unit-binding-1781906758836973000","Description":"Unit test role for binding","Permissions":[]}'
        headers:
            Content-Type:
                - application/json
            X-Keyfactor-Api-Version:
                - "1"
            X-Keyfactor-Requested-With:
                - APIClient
        url: https://int25-4-1.kftestlab.com/Keyfactor/API/Security/Roles
        method: POST
      response:
        body: '{"Id":747,"Description":"Unit test role for binding","EmailAddress":null,"Enabled":true,"Immutable":false,"Valid":true,"Private":false,"PermissionSetId":"099c05f0-deba-4562-a5b1-f491e19c0749","Identities":[],"Name":"tf-unit-binding-1781906758836973000","Permissions":[]}'
        headers:
            Api-Supported-Versions:
                - 1.0, 2
            Content-Type:
                - application/json; charset=utf-8
            X-Keyfactor-Correlation-Id:
                - 0f75eec4-1f10-4924-ba19-236fbf859269
            X-Keyfactor-Product-Version:
                - 25.4.1+dc0db2c8af1baf68b4c0043ec0f0f41a77aee11e
        status: 200 OK
        code: 200
        duration: 1.059566813s
    - id: 1
      request:
        host: int25-4-1.kftestlab.com
        body: "null"
        form:
            PageReturned:
                - "1"
            ReturnLimit:
                - "100"
        headers:
            Content-Type:
                - application/json
            X-Keyfactor-Api-Version:
                - "1"
            X-Keyfactor-Requested-With:
                - APIClient
        url: https://int25-4-1.kftestlab.com/Keyfactor/API/Templates?PageReturned=1&ReturnLimit=100
        method: GET
      response:
        body: '[{"Id":5,"CommonName":"Admin_Authentication-2048-3y","TemplateName":"Admin (Authentication-2048-3y)","Oid":"1556669620.1537202570","KeySize":"1024","KeyType":"RSA","ForestRoot":"ejbca","ConfigurationTenant":"ejbca","FriendlyName":null,"KeyRetention":"None","KeyRetentionDays":0,"KeyArchival":false,"EnrollmentFields":[],"AllowedEnrollmentTypes":0,"TemplateRegexes":[],"UseAllowedRequesters":false,"AllowedRequesters":[],"DisplayName":"Admin (Authentication-2048-3y)","RequiresApproval":false,"KeyUsage":0,"ExtendedKeyUsages":[{"Id":2,"Oid":"1.3.6.1.5.5.7.3.2","DisplayName":"Client Authentication"}],"AllowOneClickRenewals":false,"KeyTypes":"ECC P-256/prime256v1/secp256r1, ECC P-384/secp384r1, ECC P-521/secp521r1, ECC B-163/sect163r2, ECC B-233/sect233r1, ECC B-283/sect283r1, ECC B-409, ECC B-571/sect571r1, ECC brainpoolP160r1, ECC brainpoolP160t1, ECC brainpoolP192r1, ECC brainpoolP192t1, ECC brainpoolP224r1, ECC brainpoolP224t1, ECC brainpoolP256r1, ECC brainpoolP256t1, ECC brainpoolP320r1, ECC brainpoolP320t1, ECC brainpoolP384r1, ECC brainpoolP384t1, ECC brainpoolP512r1, ECC brainpoolP512t1, ECC c2pnb163v1, ECC c2pnb163v2, ECC c2pnb163v3, ECC c2pnb176w1, ECC c2pnb208w1, ECC c2pnb272w1, ECC c2pnb304w1, ECC c2pnb368w1, ECC c2tnb191v1, ECC c2tnb191v2, ECC c2tnb191v3, ECC c2tnb239v1, ECC c2tnb239v2, ECC c2tnb239v3, ECC c2tnb359v1, ECC c2tnb431r1, ECC FRP256v1, ECC K-163/sect163k1, ECC K-233/sect233k1, ECC K-283/sect283k1, ECC K-409, ECC K-571, ECC P-192/prime192v1/secp192r1, ECC P-224/secp224r1, ECC prime192v2, ECC prime192v3, ECC prime239v1, ECC prime239v2, ECC prime239v3, ECC secp112r1, ECC secp112r2, ECC secp128r1, ECC secp128r2, ECC secp160k1, ECC secp160r1, ECC secp160r2, ECC secp192k1, ECC secp224k1, ECC secp256k1, ECC sect113r1, ECC sect113r2, ECC sect131r1, ECC sect131r2, ECC sect163r1, ECC sect193r1, ECC sect193r2, ECC sect239k1, ECC sm2p256v1, ECC wapip192v1, RSA 1024, RSA 2048, RSA 3072, RSA 4096, RSA 6144, RSA 8192, Ed448, Ed25519","Manageability":3},{"Id":1,"CommonName":"EMPTY_ENDUSER","TemplateName":"EMPTY (ENDUSER)","Oid":"1.1","KeySize":"1024","KeyType":"RSA","ForestRoot":"ejbca","ConfigurationTenant":"ejbca","FriendlyName":null,"KeyRetention":"None","KeyRetentionDays":0,"KeyArchival":false,"EnrollmentFields":[],"AllowedEnrollmentTypes":0,"TemplateRegexes":[],"UseAllowedRequesters":false,"AllowedRequesters":[],"DisplayName":"EMPTY (ENDUSER)","RequiresApproval":false,"KeyUsage":224,"ExtendedKeyUsages":[{"Id":2,"Oid":"1.3.6.1.5.5.7.3.2"[...]
    - id: 2
      request:
        host: int25-4-1.kftestlab.com
        body: "null"
        headers:
            Content-Type:
                - application/json
            X-Keyfactor-Api-Version:
                - "1"
            X-Keyfactor-Requested-With:
                - APIClient
        url: https://int25-4-1.kftestlab.com/Keyfactor/API/Templates/4
        method: GET
      response:
        body: '{"Id":4,"CommonName":"Server_tlsServerAuth-1y","TemplateName":"Server (tlsServerAuth-1y)","Oid":"1784490652.649069710","KeySize":"1024","KeyType":"RSA","ForestRoot":"ejbca","ConfigurationTenant":"ejbca","FriendlyName":null,"KeyRetention":"Indefinite","KeyRetentionDays":0,"KeyArchival":false,"EnrollmentFields":[],"MetadataFields":[],"AllowedEnrollmentTypes":7,"TemplateRegexes":[{"TemplateId":4,"SubjectPart":"CN","Regex":"","Error":"","CaseSensitive":false}],"TemplateDefaults":[],"TemplatePolicy":{"TemplateId":4,"AllowKeyReuse":true,"AllowWildcards":true,"RFCEnforcement":null,"CertificateOwnerRole":0,"DefaultCertificateOwnerRoleId":null,"DefaultCertificateOwnerRoleName":null,"KeyInfo":{"ECDSA":{"name":"ECDSA","bit_lengths":[256,384,521,163,233,283,409,571,160,160,192,192,224,224,256,256,320,320,384,384,512,512,163,163,163,176,208,272,304,368,191,191,191,239,239,239,359,431,256,163,233,283,409,571,192,224,192,192,239,239,239,112,112,128,128,160,160,160,192,224,256,113,113,131,131,163,193,193,239,256,192],"curves":["1.2.840.10045.3.1.7","1.3.132.0.34","1.3.132.0.35","1.3.132.0.15","1.3.132.0.27","1.3.132.0.17","1.3.132.0.37","1.3.132.0.39","1.3.36.3.3.2.8.1.1.1","1.3.36.3.3.2.8.1.1.2","1.3.36.3.3.2.8.1.1.3","1.3.36.3.3.2.8.1.1.4","1.3.36.3.3.2.8.1.1.5","1.3.36.3.3.2.8.1.1.6","1.3.36.3.3.2.8.1.1.7","1.3.36.3.3.2.8.1.1.8","1.3.36.3.3.2.8.1.1.9","1.3.36.3.3.2.8.1.1.10","1.3.36.3.3.2.8.1.1.11","1.3.36.3.3.2.8.1.1.12","1.3.36.3.3.2.8.1.1.13","1.3.36.3.3.2.8.1.1.14","1.2.840.10045.3.0.1","1.2.840.10045.3.0.2","1.2.840.10045.3.0.3","1.2.840.10045.3.0.4","1.2.840.10045.3.0.10","1.2.840.10045.3.0.16","1.2.840.10045.3.0.17","1.2.840.10045.3.0.19","1.2.840.10045.3.0.5","1.2.840.10045.3.0.6","1.2.840.10045.3.0.7","1.2.840.10045.3.0.11","1.2.840.10045.3.0.12","1.2.840.10045.3.0.13","1.2.840.10045.3.0.18","1.2.840.10045.3.0.20","1.2.250.1.223.101.256.1","1.3.132.0.1","1.3.132.0.26","1.3.132.0.16","1.3.132.0.36","1.3.132.0.38","1.2.840.10045.3.1.1","1.3.132.0.33","1.2.840.10045.3.1.2","1.2.840.10045.3.1.3","1.2.840.10045.3.1.4","1.2.840.10045.3.1.5","1.2.840.10045.3.1.6","1.3.132.0.6","1.3.132.0.7","1.3.132.0.28","1.3.132.0.29","1.3.132.0.9","1.3.132.0.8","1.3.132.0.30","1.3.132.0.31","1.3.132.0.32","1.3.132.0.10","1.3.132.0.4","1.3.132.0.5","1.3.132.0.22","1.3.132.0.23","1.3.132.0.2","1.3.132.0.24","1.3.132.0.25","1.3.132.0.3","1.2.156.10197.1.301","1.2.156.10197.1.301.101"]},"RSA":{"name":"RSA","bit_lengths":[2048,3072,4096,6144,8192],"curves":[]},"Ed448":{"name":"Ed448","bit_lengths":[448],"curves":[]},"Ed25519":{"name":"Ed25519","bit_lengths":[255],"curves":[]},"MLDSA44":null,"MLDSA65":null,"MLDSA87":null},"PrimaryKeyAlgorithms":[{"name":"ECDSA","bit_lengths":[256,384,521,163,233,283,409,571,160,160,192,192,224,224,256,256,320,320,384,384,512,512,163,163,163,176,208,272,304,368,191,191,191,239,239,239,359,431,256,163,233,283,409,571,192,224,192,192,239,239,239,112,112,128,128,160,160,160,192,224,256,113,113,131,131,163,193,193,239,256,192],"curves":["1.2.840.10045.3.1.7","1.3.132.0.34","1.3.132.0.35","1.3.132.0.15","1.3.132.0.27","1.3.132.0.17","1.3.132.0.37","1.3.132.0.39","1.3.36.3.3.2.8.1.1.1","1.3.36.3.3.2.8.1.1.2",[...]
    - id: 3
      request:
        host: int25-4-1.kftestlab.com
        body: '{"Id":4,"CommonName":"Server_tlsServerAuth-1y","TemplateName":"Server (tlsServerAuth-1y)","Oid":"1784490652.649069710","KeySize":"1024","ForestRoot":"ejbca","KeyRetention":"Indefinite","AllowedEnrollmentTypes":7,"UseAllowedRequesters":true,"AllowedRequesters":["Administrator","InstanceOwner","tf-unit-binding-1781906758836973000"],"RFCEnforcement":false}'
        headers:
            Content-Type:
                - application/json
            X-Keyfactor-Api-Version:
                - "1"
            X-Keyfactor-Requested-With:
                - APIClient
        url: https://int25-4-1.kftestlab.com/Keyfactor/API/Templates
        method: PUT
      response:
            - chunked
        body: '{"ErrorCode":"0xA011000F","Message":"\u0027Policies\u0027 cannot be empty"}'
        headers:
            Api-Supported-Versions:
                - "1.0"
            Content-Type:
                - application/json; charset=utf-8
            X-Keyfactor-Correlation-Id:
                - 434a9c87-99e3-4979-97d1-ca05b564742e
            X-Keyfactor-Product-Version:
                - 25.4.1+dc0db2c8af1baf68b4c0043ec0f0f41a77aee11e
        status: 400 Bad Request
        code: 400
        duration: 186.79151ms
    - id: 4
      request:
        host: int25-4-1.kftestlab.com
        body: "null"
        headers:
            Content-Type:
                - application/json
            X-Keyfactor-Api-Version:
                - "1"
            X-Keyfactor-Requested-With:
                - APIClient
        url: https://int25-4-1.kftestlab.com/Keyfactor/API/Security/Roles/747
        method: DELETE
      response:
        body: ""
        headers:
            Api-Supported-Versions:
                - 1.0, 2
            X-Keyfactor-Correlation-Id:
                - a1a1eec8-c3fe-4409-910c-523bd3b0f5ff
            X-Keyfactor-Product-Version:
                - 25.4.1+dc0db2c8af1baf68b4c0043ec0f0f41a77aee11e
        status: 204 No Content
        code: 204
        duration: 197.396991ms
