---
version: 2
interactions:
    - id: 0
      request:
        host: int25-4-1.kftestlab.com
        body: "null"
        form:
            PageReturned:
                - "1"
            ReturnLimit:
                - "100"
        headers:
            Content-Type:
                - application/json
            X-Keyfactor-Api-Version:
                - "1"
            X-Keyfactor-Requested-With:
                - APIClient
        url: https://int25-4-1.kftestlab.com/Keyfactor/API/Templates?PageReturned=1&ReturnLimit=100
        method: GET
      response:
        body: '[{"Id":5,"CommonName":"Admin_Authentication-2048-3y","TemplateName":"Admin (Authentication-2048-3y)","Oid":"1556669620.1537202570","KeySize":"1024","KeyType":"RSA","ForestRoot":"ejbca","ConfigurationTenant":"ejbca","FriendlyName":null,"KeyRetention":"None","KeyRetentionDays":0,"KeyArchival":false,"EnrollmentFields":[],"AllowedEnrollmentTypes":0,"TemplateRegexes":[],"UseAllowedRequesters":false,"AllowedRequesters":[],"DisplayName":"Admin (Authentication-2048-3y)","RequiresApproval":false,"KeyUsage":0,"ExtendedKeyUsages":[{"Id":2,"Oid":"1.3.6.1.5.5.7.3.2","DisplayName":"Client Authentication"}],"AllowOneClickRenewals":false,"KeyTypes":"ECC P-256/prime256v1/secp256r1, ECC P-384/secp384r1, ECC P-521/secp521r1, ECC B-163/sect163r2, ECC B-233/sect233r1, ECC B-283/sect283r1, ECC B-409, ECC B-571/sect571r1, ECC brainpoolP160r1, ECC brainpoolP160t1, ECC brainpoolP192r1, ECC brainpoolP192t1, ECC brainpoolP224r1, ECC brainpoolP224t1, ECC brainpoolP256r1, ECC brainpoolP256t1, ECC brainpoolP320r1, ECC brainpoolP320t1, ECC brainpoolP384r1, ECC brainpoolP384t1, ECC brainpoolP512r1, ECC brainpoolP512t1, ECC c2pnb163v1, ECC c2pnb163v2, ECC c2pnb163v3, ECC c2pnb176w1, ECC c2pnb208w1, ECC c2pnb272w1, ECC c2pnb304w1, ECC c2pnb368w1, ECC c2tnb191v1, ECC c2tnb191v2, ECC c2tnb191v3, ECC c2tnb239v1, ECC c2tnb239v2, ECC c2tnb239v3, ECC c2tnb359v1, ECC c2tnb431r1, ECC FRP256v1, ECC K-163/sect163k1, ECC K-233/sect233k1, ECC K-283/sect283k1, ECC K-409, ECC K-571, ECC P-192/prime192v1/secp192r1, ECC P-224/secp224r1, ECC prime192v2, ECC prime192v3, ECC prime239v1, ECC prime239v2, ECC prime239v3, ECC secp112r1, ECC secp112r2, ECC secp128r1, ECC secp128r2, ECC secp160k1, ECC secp160r1, ECC secp160r2, ECC secp192k1, ECC secp224k1, ECC secp256k1, ECC sect113r1, ECC sect113r2, ECC sect131r1, ECC sect131r2, ECC sect163r1, ECC sect193r1, ECC sect193r2, ECC sect239k1, ECC sm2p256v1, ECC wapip192v1, RSA 1024, RSA 2048, RSA 3072, RSA 4096, RSA 6144, RSA 8192, Ed448, Ed25519","Manageability":3},{"Id":1,"CommonName":"EMPTY_ENDUSER","TemplateName":"EMPTY (ENDUSER)","Oid":"1.1","KeySize":"1024","KeyType":"RSA","ForestRoot":"ejbca","ConfigurationTenant":"ejbca","FriendlyName":null,"KeyRetention":"None","KeyRetentionDays":0,"KeyArchival":false,"EnrollmentFields":[],"AllowedEnrollmentTypes":0,"TemplateRegexes":[],"UseAllowedRequesters":false,"AllowedRequesters":[],"DisplayName":"EMPTY (ENDUSER)","RequiresApproval":false,"KeyUsage":224,"ExtendedKeyUsages":[{"Id":2,"Oid":"1.3.6.1.5.5.7.3.2"[...]
[...]
