---
page_title: "keyfactor Provider"
subcategory: ""
description: |-
  Terraform provider for managing Keyfactor Command resources: certificates, certificate stores, templates, security roles and identities, and more.
---

# keyfactor Provider

{{ .Description | trimspace }}

## Example Usage

{{ if .HasExample -}}
{{ tffile .ExampleFile }}
{{- end }}

{{ .SchemaMarkdown | trimspace }}
